<div id="myeditinfo">
  <input type="button" id="editorInfo" value="Weitere Informationen zur Nutzung des Autorentools">
  <input type="button" id="templateInfo" value=" Weitere Informationen zu den verfügbaren Templates (Vorlagen)">
  <br>
  Zum einfügen von Medien folgende Notation verwenden: $!Medienkennung
</div>
<div id = "editor" class="height-100 width-100">
</div>
