<h1>Impressum</h1><br>
<h2><b>Das Projekt</b></h2>
<p>
  Die Lernapp MeinBerufBau wurde im Rahmen des Verbundprojekts „Digitale Medien als Werkzeuge inklusiven Lernens in Überbetrieblichen Berufsbildungsstätten der Bauindustrie – MeinBerufBau (FKZ 01PE18002A/B)“ entwickelt. Ziel dabei war – im Sinne eines engen Inklusionsverständnisses - digitale Lernsettings zu erstellen, die neuartige Formen für ein gemeinsames Lernen von Auszubildenden mit und ohne Lernbehinderung bereitstellen. Im Fokus stand dabei die Gestaltung barrierefreier Lern- und Bildungsprozesse, um Auszubildende beim Erlernen und langfristigen Ausüben einer beruflichen Tätigkeit zu unterstützen.
</p>
<br>
<p>
  Dieses Vorhaben wird aus Mitteln des Bundesministeriums für Bildung und Forschung (BMBF) und aus dem Europäischen Sozialfonds der Europäischen Union (ESF) gefördert.
  <br>
  <img src="../../img/bmbf_esf.png">
</p>
<br>
<br>
<h2><b>Verbundpartner</b></h2>
<p>
  <img src="../../img/partner.png">
  <ul>
    <li>
      Berufsförderungswerk der Bauindustrie NRW gGmbH vertreten durch das Ausbildungszentrum Kerpen
    </li>
    <li>
      Lehr- und Forschungsgebiet Fachdidaktik Bautechnik der RWTH Aachen
    </li>
    <li>
      Lehr- und Forschungsgebiet Informatik 9: Lerntechnologien der RWTH Aachen
    </li>
  </ul>
</p>

<h2><b>Lizenz- und Quellenangaben</b></h2>
<p>Der Quellcode der MeinBerufBau-Lernapp ist unter MIT-Lizenz veröffentlicht.</p>
<br>
<p>
  Die im Projekt erarbeiteten Inhalte (Glossarbeiträge, Gamebooks: Gehwegabschnitt mit Tiefbordstein (Nr. 2) sowie Gehwegabschnitt mit Hochbordstein und Tiefbordstein (Nr. 4)) inklusive aller enthaltenen Medien wurden als OER unter der Lizenz CC-BY veröffentlicht.
  <br>
  Für detaillierte Lizenz- und Quellenangaben zu den oben genannten Inhalten verweisen wir auf die veröffentlichten Materialien auf der Projektwebseite (<a href:"https://www.mein-beruf-bau.de/">https://www.mein-beruf-bau.de/</a>).
  <br>
  Für Inhalte, die außerhalb des Projekts erstellt und hinzugefügt wurden (weitere bzw. individuelle Glossareinträge, Materialien, weitere Gamebooks, etc.) kann keine Haftung übernommen werden.
</p>
<br>
<p>
  Die Quellen für die fest in die App integrierten Fotos (Baubereiche und deren Unterbereiche) sind wie folgt belegt:
  <ul>
    <li>
      Hochbau - <a href="https://pixabay.com/de/photos/baukran-technik-bauger%C3%BCst-ger%C3%BCst-2868206/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/moniquayle-3235038/">moniquayle</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Ausbau
    </li>
    <li>
      Tiefbau - Eigene Darstellung
    </li>
    <li>
      Mauerwerksbau - <a href="https://pixabay.com/de/photos/baustelle-bauen-haus-bauarbeiten-3229160/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/manfredrichter-4055600/">manfredrichter</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Stahlbetonbau - <a href="https://pixabay.com/de/photos/baustelle-betonbau-pfeiler-1892917/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/hpgruesen-2204343/">hpgruesen</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Weitere Hochbaubereiche - <a href="https://pixabay.com/de/photos/schornstein-geb%C3%A4ude-kokerei-zeche-2823866/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/michaelgaida-652234/">MichaelGaida</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Fliesen-, Platten-, Mosaikbau - <a href="https://pixabay.com/de/photos/schwimmbad-treppe-blau-wasser-4369978/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/engin_akyurt-3656355/">Engin_Akyurt</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Stuckateurarbeiten - <a href="https://pixabay.com/de/photos/decke-stuck-formteile-dekoration-3304341/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/djedj-59194/">djedj</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Zimmerarbeiten - <a href="https://pixabay.com/de/photos/bau-haus-geb%C3%A4ude-schale-home-19696/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/publicdomainpictures-14/">PublicDomainPictures</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Weitere Ausbaubereiche - <a href="https://pixabay.com/de/photos/fassadend%C3%A4mmung-die-fassade-der-978999/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/akuptsova-1176597/">AKuptsova</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Straßenbau - <a href="https://pixabay.com/de/photos/bau-arbeitnehmer-ziegel-5770317/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/robbiewi-19234622/">RobbieWi</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Kanalbau - <a href="https://pixabay.com/de/photos/beton-betonrohr-tiefbau-grau-1583245/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/mainblick-581580/">mainblick</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
    <li>
      Rohrleitungsbau - Autor: ABZ Kerpen
    </li>
    <li>
      Weitere Tiefbaubereiche - <a href="https://pixabay.com/de/photos/eisenbahn-gleisbau-neue-weiche-3044956/">pixabay.com</a>, Autor: <a href="https://pixabay.com/de/users/hpgruesen-2204343/">hpgruesen</a>, Lizenz: <a href="https://pixabay.com/de/service/license/">Pixabay License</a>, Bearbeitung: Zuschnitt (RWTH Aachen)
    </li>
  </ul>
</p>
