<h1>Glossar</h1>
<article id = "definition-container">
  <section class="definition">
      <div class="key-overview">
          <div class = "key"></div>
      </div>
      <div class="lexicon-buttons">
        <div class="edit-button hidden">
            <img data-view="../../img/edit.svg">
        </div>
        <div class="delete-button hidden">
            <img data-view="../../img/trashcan.svg">
        </div>
        <div class="open-button">
          <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.968387 0.468876C1.03806 0.399031 1.12082 0.343617 1.21194 0.305807C1.30305 0.267997 1.40074 0.248535 1.49939 0.248535C1.59804 0.248535 1.69572 0.267997 1.78684 0.305807C1.87796 0.343617 1.96072 0.399031 2.03039 0.468876L11.0304 9.46888C11.1002 9.53854 11.1556 9.62131 11.1935 9.71243C11.2313 9.80354 11.2507 9.90122 11.2507 9.99988C11.2507 10.0985 11.2313 10.1962 11.1935 10.2873C11.1556 10.3784 11.1002 10.4612 11.0304 10.5309L2.03039 19.5309C1.88956 19.6717 1.69855 19.7508 1.49939 19.7508C1.30022 19.7508 1.10922 19.6717 0.968387 19.5309C0.827557 19.39 0.74844 19.199 0.74844 18.9999C0.74844 18.8007 0.827557 18.6097 0.968387 18.4689L9.43889 9.99988L0.968387 1.53088C0.898542 1.46121 0.843128 1.37844 0.805318 1.28733C0.767508 1.19621 0.748047 1.09853 0.748047 0.999876C0.748047 0.901225 0.767508 0.803543 0.805318 0.712426C0.843128 0.621308 0.898542 0.538544 0.968387 0.468876Z" fill="black"/>
          </svg>
        </div>
      </div>
  </section>
</article>
