<h1 id="course-name"></h1>

<div id="stage-1" class="stage hidden">
    <h2 class="translation">Projektaufgaben - Stufe 1</h2>
    <div id="exercise-container-stage-1" class="exercise-container">
        <div id="article-template" class="exercise-tile">
            <div class="exercise-image-container"><img class="exercise-image"></div>
            <div class="name"></div>
            <div class="description"></div>
        </div>
    </div>
    <button class="previous-exercise">
        <img src="../../img/toLeft.svg">
    </button>
    <button class="next-exercise">
        <img src="../../img/toRight.svg">
    </button>
</div>

<div id="stage-2" class="stage hidden">
    <h2 class="translation">Projektaufgaben - Stufe 2</h2>
    <div id="exercise-container-stage-2" class="exercise-container"></div>
    <button class="previous-exercise">
        <img src="../../img/toLeft.svg">
    </button>
    <button class="next-exercise">
        <img src="../../img/toRight.svg">
    </button>
</div>

<div id="stage-3" class="stage hidden">
    <h2 class="translation">Projektaufgaben - Stufe 3</h2>
    <div id="exercise-container-stage-3" class="exercise-container"></div>
    <button class="previous-exercise">
        <img src="../../img/toLeft.svg">
    </button>
    <button class="next-exercise">
        <img src="../../img/toRight.svg">
    </button>
</div>

<div id="stage-4" class="stage hidden">
    <h2 class="translation">Projektaufgaben - weitere</h2>
    <div id="exercise-container-stage-4" class="exercise-container"></div>
    <button class="previous-exercise">
        <img src="../../img/toLeft.svg">
    </button>
    <button class="next-exercise">
        <img src="../../img/toRight.svg">
    </button>
</div>
