<article >
    <section>
        <h2 class="translation">Login</h2>
        <form id="login-form">
            <label>
                <input type="text" name='email' required>
                <span class="translation">Email</span>
            </label>
            <label>
                <input type="password" name='password' required>
                <span class="translation">password</span>
            </label>
            <label>
                <input type="checkbox" checked name='saveLogin'>
                <span class="translation">stay logged in</span>
            </label>
            <button class="translation button">Login</button>
        </form>
        <button class="translation link" id = "register-button">Noch nicht angemeldet</button>
    </section>
</article>
