<article >
    <section>
        <h2 class="translation">registration</h2>
        <form id = "registration-form">
            <label>
                <input type="text" name='email' required>
                <span class="translation">Email</span>
            </label>
            <label>
                <input type="text" name='username' required>
                <span class="translation">username</span>
            </label>
            <label>
                <input type="password" name='password' required>
                <span class="translation">password</span>
            </label>
            <label>
                <input type="password" name='password2' required>
                <span class="translation">retype password</span>
            </label>
<!--            <label>-->
<!--                <input type="checkbox" name='agbAccepted' required>-->
<!--                <span class="translation">I have read and accepted the terms and conditions.</span>-->
<!--            </label>-->
            <button class="translation button">registration</button>
        </form>
    </section>
</article>
