<div class="grid-container flex-dir-column flex-container height-100" id="main-content-container">
    <span id="navbar-fragment"></span>
    <div class="grid-x grid-padding-x grid-padding-y grow max-height-100 grow overflow-auto">
        <div class="cell small-12" id="main-content">
            <!-- site-content wird ersetzt, daher keine wirklichen attribute -->
            <span id="site-content"></span>
        </div>
    </div>
    <span id="footer-fragment"></span>
</div>
