<article>
    <section>
        <div id="admin-panel" class="hidden right">
            <button id="delete" class="button">Delete</button>
            <button id="edit" class="button">Edit</button>
        </div>
        <h1 id="name"></h1>
        <p id="description"></p>
    </section>
</article>