<div class="tab-fragment video">
    <div class="flex-container flex-dir-row">
        <div class="tab-names">
            <div class="tab-button tab-button-template"></div>
            <div class="tab-button translation">video</div>
            <div class="tab-button translation">alternative text</div>
            <div class="tab-button translation">fulltext</div>
        </div>
        <div class="grow border-bottom">&nbsp;</div>
    </div>
    <div class="tab-content">
        <div class="tab-site tab-site-template"></div>
        <div class="tab-site">
            <video class="element-video video-js vjs-big-play-centered" controls>
            </video>
        </div>
        <div class="tab-site">
            <span class="element-video-alternative-text"></span>
        </div>
        <div class="tab-site">
            <span class="element-video-fulltext"></span>
        </div>
    </div>

</div>


