<section class='element' data-type="element-text">
    <button class='remove right'>X</button>
    <form>
        <label>
            <textarea name='text' required class="element-text-text"></textarea>
            <span class="translation">text</span>
        </label>
    </form>
</section>