<section class='element' data-type="element-text-input">
    <button class='remove right'>X</button>
    <form>
        <label>
            <span class="translation">type</span>
            <select name='type' required class="element-text-input-type">
                <option value = "text" selected class="translation">text</option>
                <option value = "email" class="translation">email</option>
                <option value = "date" class="translation">date</option>
                <option value = "number" class="translation">number</option>
            </select>
        </label>
        <label>
            <input name='name' required class="element-text-input-name">
            <span class="translation">name</span>
        </label>
        <label>
            <input name='description' required class="element-text-input-description">
            <span class="translation">name</span>
        </label>
        <b class="translation">Validation</b>
        <label>
            <input type="radio" value = "0" name = "validation-type" checked>
            <span class="translation">none</span>
        </label>
        <label>
            <input type="radio" name = "validation-type" value = "1">
            <span class="translation">equal</span>
        </label>
        <label>
            <input type="radio" name = "validation-type" value = "2">
            <span class = "translation">regex</span>
        </label>
        <label>
            <input name='validation-value' required class="element-text-input-name">
            <span class="translation">validation value</span>
        </label>
        <label>
            <input name='error-message' required class="element-text-input-name">
            <span class="translation">error-message</span>
        </label>
    </form>
</section>