<article>
    <section>
        <br/>
        <form class="grid-x definition-input-form">
            <div class="column small-12">
                <label>
                    <input name="key" class="form-control" required>
                    <span class="translation">key</span>
                </label>
            </div>
            <div class="small-12">
                <label class="small-12">
                    <span class="translation">Datei</span>
                    <input name="image-url" class="form-control" readonly></input>
                    <input name="image" type="file" class="form-control">
                </label>
                <img class="small-4 image-preview hidden" src="https://placehold.it/180">
            </div>
            <div class="column small-6 hidden">
                <label class="small-8">
                    <input name="keywords" class="form-control">
                    <span class="translation">keywords</span>
                </label>
            </div>
            <div class="small-6 hidden">
                <label>
                    <input name="image-description" class="form-control">
                    <span class="translation">Image-description</span>
                </label>
            </div>
            <div class="column small-12 ">
                <label>
                    <input name="description"></input>
                    <span class="translation">Link</span>
                </label>
            </div>
            <div class="column small-6 hidden">
                <label>
                    <textarea name="description-simple-german"></textarea>
                    <span class="translation">easy speech description</span>
                </label>
            </div>
            <div class="small-12 flex-container">
                <label class="grow">
                    <button class="translation button width-100">save</button>
                </label>
                <label class="access-admin">
                    <input type="checkbox" name="save-for-all" value="1">
                    <span class="translation">save for all</span>
                </label>
            </div>
        </form>
    </section>
    <section class="hidden savenotpossible">
      Es muss entweder eine Datei ausgewählt oder ein Link angegeben werden!
    </section>
</article>
