<div class="calculator">
    <div type="number" class="equation"></div>
    <p class="answer"></p>
    <div class="grid-y" id="calp1">
  		<div class = "columns small-3 grid-x">

  			<div class="columns small-3 grid-y">
  				<div class="columns calculator-button small-3 delete-all bg-lightgray ">
            <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.317 17.1271L10.408 13.5143H5.35014L4.44113 17.1271H0.875L5.83961 0.997927H10.0117L14.953 17.1271H11.317ZM6.00276 10.9738H9.75535L7.8674 3.5385L6.00276 10.9738Z" fill="black"/>
              <path d="M22.5788 0.625C23.5888 0.625 24.4667 0.772617 25.2126 1.06785C25.9584 1.34755 26.6887 1.78263 27.4035 2.3731L25.702 4.35428C24.7697 3.59289 23.7908 3.21219 22.7652 3.21219C21.6154 3.21219 20.6986 3.68612 20.0149 4.63398C19.3467 5.5663 19.0126 7.0347 19.0126 9.03919C19.0126 10.9971 19.3467 12.4499 20.0149 13.3978C20.6986 14.3301 21.6231 14.7963 22.7885 14.7963C23.3946 14.7963 23.9462 14.6875 24.4434 14.47C24.9406 14.2369 25.4612 13.9106 26.005 13.491L27.59 15.4722C27.0151 16.0627 26.3003 16.5521 25.4457 16.9406C24.6066 17.3135 23.6742 17.5 22.6487 17.5C21.2036 17.5 19.9372 17.1737 18.8495 16.5211C17.7618 15.8684 16.9149 14.9128 16.3089 13.6542C15.7029 12.38 15.3999 10.8417 15.3999 9.03919C15.3999 7.28332 15.7107 5.77607 16.3322 4.51744C16.9538 3.24327 17.8084 2.27987 18.8961 1.62724C19.9838 0.959081 21.2114 0.625 22.5788 0.625Z" fill="black"/>
            </svg>
            <br>
            Alles<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="7">
            <svg width="18" height="28" viewBox="0 0 18 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.2194 0.0799985V3.68L7.25938 27.52L2.57938 26L11.9394 4.04H0.579375V0.0799985H17.2194Z" fill="white"/>
            </svg>
            <br>
            Sieben
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="4">
            <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.0039 17.92V21.84H16.7639V28H11.7639V21.84H0.323906V18.32L8.16391 0.559998L12.5239 2.2L5.64391 17.92H11.8039L12.3239 11.16H16.7639V17.92H20.0039Z" fill="white"/>
            </svg>
            <br>
            Vier
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="1">
            <svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.1961 0.0799985V27H9.15609V5.24L3.15609 8.88L0.916094 5.44L9.67609 0.0799985H14.1961Z" fill="white"/>
            </svg>
            <br>
            Eins
          </div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
  			</div>

  			<div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 delete-input bg-lightgray ">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4997 7.00021C15.4997 7.24885 15.401 7.48731 15.2251 7.66312C15.0493 7.83894 14.8109 7.93771 14.5622 7.93771H3.70035L7.72597 11.9615C7.81314 12.0486 7.88228 12.1521 7.92945 12.266C7.97663 12.3799 8.00091 12.5019 8.00091 12.6252C8.00091 12.7485 7.97663 12.8705 7.92945 12.9844C7.88228 13.0983 7.81314 13.2018 7.72597 13.289C7.63881 13.3761 7.53533 13.4453 7.42144 13.4924C7.30756 13.5396 7.18549 13.5639 7.06222 13.5639C6.93895 13.5639 6.81689 13.5396 6.703 13.4924C6.58912 13.4453 6.48564 13.3761 6.39847 13.289L0.773473 7.66396C0.686167 7.57687 0.616898 7.47342 0.569636 7.35952C0.522374 7.24562 0.498047 7.12352 0.498047 7.00021C0.498047 6.87689 0.522374 6.75479 0.569636 6.6409C0.616898 6.527 0.686167 6.42354 0.773473 6.33646L6.39847 0.711458C6.57451 0.53542 6.81327 0.436523 7.06222 0.436523C7.31118 0.436523 7.54993 0.53542 7.72597 0.711458C7.90201 0.887495 8.00091 1.12625 8.00091 1.37521C8.00091 1.62416 7.90201 1.86292 7.72597 2.03896L3.70035 6.06271H14.5622C14.8109 6.06271 15.0493 6.16148 15.2251 6.3373C15.401 6.51311 15.4997 6.75157 15.4997 7.00021Z" fill="black"/>
            </svg>
            <br>
            Eingabe<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="8">
            <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.3723 13.56C18.0523 15.2133 19.8923 17.6133 19.8923 20.76C19.8923 22.2267 19.479 23.56 18.6523 24.76C17.8257 25.9333 16.6523 26.8667 15.1323 27.56C13.639 28.2533 11.8923 28.6 9.89234 28.6C7.91901 28.6 6.19901 28.2667 4.73234 27.6C3.26568 26.9067 2.13234 25.9733 1.33234 24.8C0.532344 23.6267 0.132344 22.3067 0.132344 20.84C0.132344 17.7467 1.83901 15.48 5.25234 14.04C2.55901 12.5733 1.21234 10.4533 1.21234 7.68C1.21234 6.26667 1.59901 5.02667 2.37234 3.96C3.17234 2.86667 4.23901 2.04 5.57234 1.48C6.93234 0.893331 8.41234 0.599998 10.0123 0.599998C11.639 0.599998 13.119 0.866665 14.4523 1.4C15.7857 1.93333 16.839 2.72 17.6123 3.76C18.4123 4.8 18.8123 6.04 18.8123 7.48C18.8123 10.0133 17.3323 12.04 14.3723 13.56ZM10.0123 4.2C8.81234 4.2 7.86568 4.50667 7.17234 5.12C6.50568 5.73333 6.17234 6.61333 6.17234 7.76C6.17234 8.82667 6.49234 9.68 7.13234 10.32C7.77234 10.9333 8.79901 11.4933 10.2123 12L10.9723 12.28C12.0123 11.64 12.7457 10.9733 13.1723 10.28C13.6257 9.56 13.8523 8.70667 13.8523 7.72C13.8523 6.62667 13.519 5.77333 12.8523 5.16C12.1857 4.52 11.239 4.2 10.0123 4.2ZM10.0123 24.8C11.479 24.8 12.6257 24.4267 13.4523 23.68C14.279 22.9333 14.6923 21.96 14.6923 20.76C14.6923 19.5333 14.3323 18.5733 13.6123 17.88C12.8923 17.16 11.6123 16.4667 9.77234 15.8L8.53234 15.36C6.37234 16.5067 5.29234 18.28 5.29234 20.68C5.29234 21.96 5.71901 22.9733 6.57234 23.72C7.42568 24.44 8.57234 24.8 10.0123 24.8Z" fill="white"/>
            </svg>
            <br>
            Acht
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="5">
            <svg width="19" height="28" viewBox="0 0 19 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.1694 3.88H7.08938V10.56C8.42271 9.89333 9.78271 9.56 11.1694 9.56C12.6627 9.56 13.996 9.90667 15.1694 10.6C16.3427 11.2933 17.2494 12.2933 17.8894 13.6C18.556 14.9067 18.8894 16.4533 18.8894 18.24C18.8894 20.08 18.476 21.7067 17.6494 23.12C16.8227 24.5333 15.6494 25.64 14.1294 26.44C12.6094 27.2133 10.8494 27.6 8.84938 27.6C7.06271 27.6 5.47604 27.28 4.08938 26.64C2.72938 25.9733 1.48938 25.0267 0.369375 23.8L3.28938 21.08C4.83604 22.7867 6.64938 23.64 8.72938 23.64C10.2494 23.64 11.436 23.1733 12.2894 22.24C13.1694 21.3067 13.6094 19.9733 13.6094 18.24C13.6094 14.9067 12.1694 13.24 9.28938 13.24C8.67604 13.24 8.10271 13.32 7.56938 13.48C7.03604 13.6133 6.44938 13.84 5.80938 14.16H2.16938V0.0799985H17.7694L17.1694 3.88Z" fill="white"/>
            </svg>
            <br>
            Fünf
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="2">
            <svg width="19" height="28" viewBox="0 0 19 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.18328 0.599998C10.9966 0.599998 12.5566 0.933331 13.8633 1.6C15.1966 2.26666 16.2099 3.17333 16.9033 4.32C17.5966 5.46667 17.9433 6.74667 17.9433 8.16C17.9433 9.68 17.6099 11.1467 16.9433 12.56C16.3033 13.9467 15.2233 15.4933 13.7033 17.2C12.1833 18.9067 9.95661 21.16 7.02328 23.96H18.5433L17.9833 28H1.22328V24.24C4.63661 20.7733 7.07661 18.2133 8.54328 16.56C10.0366 14.88 11.0899 13.4533 11.7033 12.28C12.3433 11.08 12.6633 9.84 12.6633 8.56C12.6633 7.33333 12.3033 6.37333 11.5833 5.68C10.8899 4.98666 9.95662 4.64 8.78328 4.64C7.74328 4.64 6.82328 4.86666 6.02328 5.32C5.24995 5.74667 4.43661 6.46667 3.58328 7.48L0.463281 5C2.72995 2.06666 5.63661 0.599998 9.18328 0.599998Z" fill="white"/>
            </svg>
            <br>
            Zwei
          </div>
  				<div class="columns calculator-button small-3 bg-gray text-big " data-value="0">
            <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.97516 0.599998C13.1218 0.599998 15.5085 1.8 17.1352 4.2C18.7885 6.6 19.6152 10.0533 19.6152 14.56C19.6152 19.0933 18.7885 22.5733 17.1352 25C15.5085 27.4 13.1218 28.6 9.97516 28.6C6.82849 28.6 4.42849 27.4 2.77516 25C1.14849 22.5733 0.335156 19.0933 0.335156 14.56C0.335156 10.0533 1.14849 6.6 2.77516 4.2C4.42849 1.8 6.82849 0.599998 9.97516 0.599998ZM9.97516 4.48C8.45516 4.48 7.34849 5.25333 6.65516 6.8C5.96182 8.32 5.61516 10.9067 5.61516 14.56C5.61516 18.24 5.96182 20.8533 6.65516 22.4C7.34849 23.9467 8.45516 24.72 9.97516 24.72C11.4952 24.72 12.6018 23.96 13.2952 22.44C13.9885 20.8933 14.3352 18.2667 14.3352 14.56C14.3352 10.88 13.9885 8.28 13.2952 6.76C12.6018 5.24 11.4952 4.48 9.97516 4.48Z" fill="white"/>
            </svg>
            <br>
            Null
          </div>
  			</div>

  			<div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-orange more-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.375 1.875H5.625C3.55393 1.875 1.875 3.55393 1.875 5.625V24.375C1.875 26.4461 3.55393 28.125 5.625 28.125H24.375C26.4461 28.125 28.125 26.4461 28.125 24.375V5.625C28.125 3.55393 26.4461 1.875 24.375 1.875ZM5.625 0C2.5184 0 0 2.5184 0 5.625V24.375C0 27.4816 2.5184 30 5.625 30H24.375C27.4816 30 30 27.4816 30 24.375V5.625C30 2.5184 27.4816 0 24.375 0H5.625ZM13.2967 5.69118C13.2746 5.63785 13.2422 5.5894 13.2014 5.54859C13.1606 5.50777 13.1121 5.47539 13.0588 5.4533C13.0055 5.43121 12.9483 5.41984 12.8906 5.41984C12.8329 5.41984 12.7758 5.43121 12.7224 5.4533C12.6691 5.47539 12.6207 5.50777 12.5798 5.54859L5.54859 12.5798C5.50778 12.6207 5.47541 12.6691 5.45332 12.7224C5.43123 12.7758 5.41986 12.8329 5.41986 12.8906C5.41986 12.9483 5.43123 13.0055 5.45332 13.0588C5.47541 13.1121 5.50778 13.1606 5.54859 13.2014C5.58941 13.2422 5.63786 13.2746 5.69118 13.2967C5.74451 13.3188 5.80166 13.3301 5.85938 13.3301C5.91709 13.3301 5.97424 13.3188 6.02757 13.2967C6.08089 13.2746 6.12934 13.2422 6.17016 13.2014L13.2014 6.17016C13.2422 6.12935 13.2746 6.0809 13.2967 6.02757C13.3188 5.97425 13.3302 5.91709 13.3302 5.85938C13.3302 5.80166 13.3188 5.7445 13.2967 5.69118ZM7.65984 7.65984C7.46205 7.85763 7.19378 7.96875 6.91406 7.96875C6.63434 7.96875 6.36608 7.85763 6.16829 7.65984C5.97049 7.46205 5.85938 7.19378 5.85938 6.91406C5.85938 6.63434 5.97049 6.36608 6.16829 6.16829C6.36608 5.97049 6.63434 5.85938 6.91406 5.85938C7.19378 5.85938 7.46205 5.97049 7.65984 6.16829C7.85763 6.36608 7.96875 6.63434 7.96875 6.91406C7.96875 7.19378 7.85763 7.46205 7.65984 7.65984ZM8.15702 8.15702C7.82737 8.48668 7.38026 8.67188 6.91406 8.67188C6.44786 8.67188 6.00076 8.48668 5.6711 8.15702C5.34145 7.82737 5.15625 7.38026 5.15625 6.91406C5.15625 6.44786 5.34145 6.00076 5.6711 5.6711C6.00076 5.34145 6.44786 5.15625 6.91406 5.15625C7.38026 5.15625 7.82737 5.34145 8.15702 5.6711C8.48668 6.00076 8.67188 6.44786 8.67188 6.91406C8.67188 7.38026 8.48668 7.82737 8.15702 8.15702ZM12.5817 12.5817C12.3839 12.7795 12.1157 12.8906 11.8359 12.8906C11.5562 12.8906 11.288 12.7795 11.0902 12.5817C10.8924 12.3839 10.7812 12.1157 10.7812 11.8359C10.7812 11.5562 10.8924 11.288 11.0902 11.0902C11.288 10.8924 11.5562 10.7812 11.8359 10.7812C12.1157 10.7812 12.3839 10.8924 12.5817 11.0902C12.7795 11.288 12.8906 11.5562 12.8906 11.8359C12.8906 12.1157 12.7795 12.3839 12.5817 12.5817ZM13.0789 13.0789C12.7492 13.4086 12.3021 13.5938 11.8359 13.5938C11.3697 13.5938 10.9226 13.4086 10.593 13.0789C10.2633 12.7492 10.0781 12.3021 10.0781 11.8359C10.0781 11.3697 10.2633 10.9226 10.593 10.593C10.9226 10.2633 11.3697 10.0781 11.8359 10.0781C12.3021 10.0781 12.7492 10.2633 13.0789 10.593C13.4086 10.9226 13.5938 11.3697 13.5938 11.8359C13.5938 12.3021 13.4086 12.7492 13.0789 13.0789ZM10.9567 16.7067C11.0264 16.5257 11.2003 16.4062 11.3942 16.4062H13.125C13.3839 16.4062 13.5938 16.6161 13.5938 16.875C13.5938 17.1339 13.3839 17.3438 13.125 17.3438H11.7162L8.94712 24.5433C8.88227 24.7119 8.72628 24.8282 8.54617 24.8423C8.36605 24.8564 8.19387 24.7657 8.10359 24.6092L7.08504 22.8438H5.625C5.36612 22.8438 5.15625 22.6339 5.15625 22.375C5.15625 22.1161 5.36612 21.9062 5.625 21.9062H7.35577C7.52329 21.9062 7.67808 21.9956 7.76179 22.1408L8.42475 23.2899L10.9567 16.7067ZM21.8669 7.635V11.6025H20.9069V7.635H21.8669ZM21.3794 5.625C21.5594 5.625 21.7044 5.6825 21.8144 5.7975C21.9294 5.9075 21.9869 6.045 21.9869 6.21C21.9869 6.375 21.9294 6.5125 21.8144 6.6225C21.7044 6.7325 21.5594 6.7875 21.3794 6.7875C21.2044 6.7875 21.0594 6.7325 20.9444 6.6225C20.8344 6.5125 20.7794 6.375 20.7794 6.21C20.7794 6.045 20.8344 5.9075 20.9444 5.7975C21.0594 5.6825 21.2044 5.625 21.3794 5.625ZM18.5925 7.5225C19.1275 7.5225 19.5975 7.68 20.0025 7.995L19.6275 8.5575C19.2875 8.3425 18.955 8.235 18.63 8.235C18.44 8.235 18.2925 8.2725 18.1875 8.3475C18.0825 8.4175 18.03 8.5125 18.03 8.6325C18.03 8.7225 18.0525 8.7975 18.0975 8.8575C18.1425 8.9175 18.2225 8.975 18.3375 9.03C18.4575 9.08 18.6325 9.1375 18.8625 9.2025C19.2925 9.3175 19.61 9.47 19.815 9.66C20.025 9.85 20.13 10.115 20.13 10.455C20.13 10.85 19.97 11.16 19.65 11.385C19.33 11.605 18.9325 11.715 18.4575 11.715C18.1325 11.715 17.835 11.665 17.565 11.565C17.3 11.465 17.07 11.3275 16.875 11.1525L17.355 10.6125C17.7 10.8725 18.06 11.0025 18.435 11.0025C18.65 11.0025 18.82 10.96 18.945 10.875C19.075 10.79 19.14 10.6725 19.14 10.5225C19.14 10.4075 19.115 10.3175 19.065 10.2525C19.02 10.1825 18.935 10.1225 18.81 10.0725C18.69 10.0175 18.5 9.9525 18.24 9.8775C17.835 9.7675 17.5375 9.615 17.3475 9.42C17.1575 9.22 17.0625 8.9725 17.0625 8.6775C17.0625 8.4575 17.125 8.26 17.25 8.085C17.38 7.91 17.56 7.7725 17.79 7.6725C18.025 7.5725 18.2925 7.5225 18.5925 7.5225ZM25.9636 7.845C25.7686 7.63 25.4936 7.5225 25.1386 7.5225C24.6586 7.5225 24.2561 7.7325 23.9311 8.1525L23.8561 7.635H23.0236V11.6025H23.9836V8.8425C24.1086 8.6475 24.2361 8.5 24.3661 8.4C24.5011 8.295 24.6511 8.2425 24.8161 8.2425C24.9761 8.2425 25.0961 8.29 25.1761 8.385C25.2611 8.48 25.3036 8.645 25.3036 8.88V11.6025H26.2636V8.73C26.2636 8.35 26.1636 8.055 25.9636 7.845ZM25.2604 17.2356C24.9857 16.9952 24.6079 16.875 24.1271 16.875C23.4951 16.875 22.98 17.1257 22.5816 17.6271L23.1895 18.1114C23.3268 17.9534 23.4574 17.8401 23.581 17.7714C23.7115 17.7027 23.8592 17.6684 24.024 17.6684C24.2026 17.6684 24.3434 17.7199 24.4465 17.8229C24.5564 17.9191 24.6113 18.0564 24.6113 18.235C24.6113 18.4068 24.5598 18.5785 24.4568 18.7502C24.3537 18.9219 24.1786 19.1383 23.9313 19.3993C23.684 19.6535 23.2856 20.0381 22.7361 20.5533V21.2848H25.6623L25.7653 20.4915H23.8901C24.3709 20.0793 24.735 19.7428 24.9822 19.4817C25.2364 19.2207 25.415 18.9906 25.518 18.7914C25.621 18.5853 25.6726 18.369 25.6726 18.1423C25.6726 17.7783 25.5352 17.476 25.2604 17.2356ZM22.0885 24.5922L20.2648 21.6763L21.8412 19.1417H20.409L19.492 20.9963L18.5647 19.1417H17.0605L18.6884 21.7175L16.875 24.5922H18.3278L19.4405 22.4285L20.5636 24.5922H22.0885Z" fill="black"/>
            <br>
            Weitere<br>Befehle
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="9">
            <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.88109 0.599998C12.9211 0.599998 15.2544 1.54666 16.8811 3.44C18.5078 5.30667 19.3211 7.84 19.3211 11.04C19.3211 14.6933 18.7744 17.6933 17.6811 20.04C16.5878 22.36 14.9078 24.2133 12.6411 25.6C10.3744 26.9867 7.37443 28.12 3.64109 29L2.56109 25.36C6.08109 24.4267 8.74776 23.2267 10.5611 21.76C12.4011 20.2667 13.4944 18.24 13.8411 15.68C12.3744 17.5467 10.4544 18.48 8.08109 18.48C6.69443 18.48 5.41443 18.1333 4.24109 17.44C3.09443 16.72 2.18776 15.6933 1.52109 14.36C0.854427 13.0267 0.521094 11.48 0.521094 9.72C0.521094 7.88 0.934427 6.28 1.76109 4.92C2.58776 3.53333 3.70776 2.46667 5.12109 1.72C6.56109 0.973332 8.14776 0.599998 9.88109 0.599998ZM9.48109 14.76C11.2944 14.76 12.8278 13.84 14.0811 12C14.1078 9.25333 13.7878 7.30667 13.1211 6.16C12.4811 4.98667 11.4011 4.4 9.88109 4.4C8.54776 4.4 7.50776 4.85333 6.76109 5.76C6.01443 6.66667 5.64109 7.96 5.64109 9.64C5.64109 11.4 5.98776 12.6933 6.68109 13.52C7.40109 14.3467 8.33443 14.76 9.48109 14.76Z" fill="white"/>
            </svg>
            <br>
            Neun
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="6">
            <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.1239 10.08C13.5372 10.08 14.8172 10.4267 15.9639 11.12C17.1372 11.7867 18.0572 12.7867 18.7239 14.12C19.3906 15.4267 19.7239 17 19.7239 18.84C19.7239 20.7067 19.3372 22.3867 18.5639 23.88C17.7906 25.3467 16.6972 26.5067 15.2839 27.36C13.8972 28.1867 12.3106 28.6 10.5239 28.6C7.21724 28.6 4.76391 27.44 3.16391 25.12C1.59057 22.8 0.803906 19.6133 0.803906 15.56C0.803906 12.5733 1.24391 9.96 2.12391 7.72C3.03057 5.45333 4.31057 3.70667 5.96391 2.48C7.64391 1.22666 9.60391 0.599998 11.8439 0.599998C14.0572 0.599998 16.0172 1.17333 17.7239 2.32L15.8039 5.48C14.5772 4.76 13.2839 4.4 11.9239 4.4C10.2172 4.4 8.84391 5.17333 7.80391 6.72C6.79057 8.24 6.21724 10.3467 6.08391 13.04C7.71057 11.0667 9.72391 10.08 12.1239 10.08ZM10.5239 24.8C11.8572 24.8 12.8572 24.28 13.5239 23.24C14.2172 22.1733 14.5639 20.7333 14.5639 18.92C14.5639 17.08 14.2439 15.7733 13.6039 15C12.9906 14.2 12.0839 13.8 10.8839 13.8C9.97724 13.8 9.11057 14.0533 8.28391 14.56C7.48391 15.04 6.76391 15.7067 6.12391 16.56C6.17724 19.4667 6.53724 21.5733 7.20391 22.88C7.89724 24.16 9.00391 24.8 10.5239 24.8Z" fill="white"/>
            </svg>
            <br>
            Sechs
          </div>
          <div class="columns calculator-button small-3 bg-gray text-big " data-value="3">
            <svg width="19" height="29" viewBox="0 0 19 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.08469 0.599998C10.8714 0.599998 12.4047 0.906664 13.6847 1.52C14.9914 2.13333 15.9647 2.96 16.6047 4C17.2714 5.04 17.6047 6.18667 17.6047 7.44C17.6047 9.06667 17.138 10.4267 16.2047 11.52C15.2714 12.5867 13.9914 13.3333 12.3647 13.76C14.1514 13.92 15.618 14.56 16.7647 15.68C17.9114 16.8 18.4847 18.3467 18.4847 20.32C18.4847 21.8667 18.0847 23.2667 17.2847 24.52C16.5114 25.7733 15.3914 26.7733 13.9247 27.52C12.458 28.24 10.7247 28.6 8.72469 28.6C5.04469 28.6 2.13802 27.3067 0.00468751 24.72L2.84469 22C3.75135 22.9067 4.64469 23.5733 5.52469 24C6.40469 24.4 7.37802 24.6 8.44469 24.6C9.88469 24.6 11.0314 24.2 11.8847 23.4C12.7647 22.5733 13.2047 21.4667 13.2047 20.08C13.2047 18.5333 12.7914 17.4267 11.9647 16.76C11.1647 16.0933 9.96469 15.76 8.36469 15.76H6.24469L6.84469 12.12H8.28469C9.59135 12.12 10.6314 11.76 11.4047 11.04C12.2047 10.32 12.6047 9.32 12.6047 8.04C12.6047 6.94667 12.2447 6.09333 11.5247 5.48C10.8047 4.84 9.84469 4.52 8.64469 4.52C7.60469 4.52 6.65802 4.72 5.80469 5.12C4.95135 5.49333 4.09802 6.08 3.24469 6.88L0.644688 4.04C3.07135 1.74666 5.88469 0.599998 9.08469 0.599998Z" fill="white"/>
            </svg>
            <br>
            Drei
          </div>
  				<div class="columns calculator-button small-3 bg-gray text-big " data-value=",">
            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.95531 0.12C4.88865 0.12 5.66198 0.426667 6.27531 1.04C6.91531 1.65333 7.23531 2.42667 7.23531 3.36C7.23531 3.86667 7.15531 4.38667 6.99531 4.92C6.83531 5.45333 6.56865 6.13333 6.19531 6.96L3.59531 12.88H0.475313L2.11531 6C1.20865 5.38667 0.755313 4.49333 0.755313 3.32C0.755313 2.41333 1.06198 1.65333 1.67531 1.04C2.28865 0.426667 3.04865 0.12 3.95531 0.12Z" fill="white"/>
            </svg>
            <br>
            Komma
          </div>
  			</div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-blue " data-value="&divide;">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8752 2.5C10.8752 3.53553 10.0357 4.375 9.00015 4.375C7.96462 4.375 7.12515 3.53553 7.12515 2.5C7.12515 1.46447 7.96462 0.625 9.00015 0.625C10.0357 0.625 10.8752 1.46447 10.8752 2.5ZM0.107423 9.99961C0.107267 9.87629 0.131441 9.75416 0.178559 9.64021C0.225677 9.52625 0.294814 9.42271 0.38201 9.33551C0.469206 9.24831 0.572747 9.17918 0.686704 9.13206C0.800661 9.08494 0.922794 9.06077 1.04611 9.06092L16.956 9.06092C17.205 9.06092 17.4437 9.15982 17.6198 9.33586C17.7958 9.5119 17.8947 9.75066 17.8947 9.99961C17.8947 10.2486 17.7958 10.4873 17.6198 10.6634C17.4437 10.8394 17.205 10.9383 16.956 10.9383L1.04611 10.9383C0.922794 10.9384 0.80066 10.9143 0.686703 10.8672C0.572747 10.82 0.469206 10.7509 0.38201 10.6637C0.294814 10.5765 0.225677 10.473 0.178559 10.359C0.131441 10.2451 0.107267 10.1229 0.107423 9.99961ZM9.00015 19.375C10.0357 19.375 10.8752 18.5355 10.8752 17.5C10.8752 16.4645 10.0357 15.625 9.00015 15.625C7.96462 15.625 7.12515 16.4645 7.12515 17.5C7.12515 18.5355 7.96462 19.375 9.00015 19.375Z" fill="white"/>
            </svg>
            <br>
            Geteilt
          </div>
          <div class="columns calculator-button small-3 bg-blue " data-value="&times;">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.710972 0.710972C0.798058 0.623666 0.901512 0.554398 1.01541 0.507136C1.12931 0.459874 1.25141 0.435547 1.37472 0.435547C1.49804 0.435547 1.62014 0.459874 1.73404 0.507136C1.84793 0.554398 1.95139 0.623666 2.03847 0.710972L6.99972 5.6741L11.961 0.710972C12.0481 0.623807 12.1516 0.554664 12.2655 0.507491C12.3794 0.460318 12.5015 0.436038 12.6247 0.436038C12.748 0.436038 12.8701 0.460318 12.9839 0.507491C13.0978 0.554664 13.2013 0.623807 13.2885 0.710972C13.3756 0.798137 13.4448 0.901617 13.492 1.0155C13.5391 1.12939 13.5634 1.25145 13.5634 1.37472C13.5634 1.49799 13.5391 1.62006 13.492 1.73394C13.4448 1.84783 13.3756 1.95131 13.2885 2.03847L8.32535 6.99972L13.2885 11.961C13.3756 12.0481 13.4448 12.1516 13.492 12.2655C13.5391 12.3794 13.5634 12.5015 13.5634 12.6247C13.5634 12.748 13.5391 12.8701 13.492 12.9839C13.4448 13.0978 13.3756 13.2013 13.2885 13.2885C13.2013 13.3756 13.0978 13.4448 12.9839 13.492C12.8701 13.5391 12.748 13.5634 12.6247 13.5634C12.5015 13.5634 12.3794 13.5391 12.2655 13.492C12.1516 13.4448 12.0481 13.3756 11.961 13.2885L6.99972 8.32535L2.03847 13.2885C1.95131 13.3756 1.84783 13.4448 1.73394 13.492C1.62006 13.5391 1.49799 13.5634 1.37472 13.5634C1.25145 13.5634 1.12939 13.5391 1.0155 13.492C0.901617 13.4448 0.798137 13.3756 0.710972 13.2885C0.623807 13.2013 0.554664 13.0978 0.507491 12.9839C0.460318 12.8701 0.436038 12.748 0.436038 12.6247C0.436038 12.5015 0.460318 12.3794 0.507491 12.2655C0.554664 12.1516 0.623807 12.0481 0.710972 11.961L5.6741 6.99972L0.710972 2.03847C0.623666 1.95139 0.554398 1.84793 0.507136 1.73404C0.459874 1.62014 0.435547 1.49804 0.435547 1.37472C0.435547 1.25141 0.459874 1.12931 0.507136 1.01541C0.554398 0.901512 0.623666 0.798058 0.710972 0.710972Z" fill="white"/>
            </svg>
            <br>
            Mal
          </div>
          <div class="columns calculator-button small-3 bg-blue " data-value="-">
            <svg width="18" height="4" viewBox="0 0 18 4" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.75 3.25H0.25V0.75H17.75V3.25Z" fill="white"/>
            </svg>
            <br>
            Minus
          </div>
          <div class="columns calculator-button small-3 bg-blue " data-value="+">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.75 10.25H10.25V17.75H7.75V10.25H0.25V7.75H7.75V0.25H10.25V7.75H17.75V10.25Z" fill="white"/>
            </svg>
            <br>
            Plus
          </div>
          <div class="columns calculator-button small-3 bg-lightgray text-blue result-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.375 13.125H5.625V11.25H24.375V13.125Z" fill="#00549F"/>
              <path d="M24.375 18.75H5.625V16.875H24.375V18.75Z" fill="#00549F"/>
            </svg>
            <br>
            Gleich
          </div>
        </div>
      </div>
    </div>

    <div class="grid-y" id="calp2">
      <div class = "columns small-3 grid-x">

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 delete-all bg-lightgray ">
            <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.317 17.1271L10.408 13.5143H5.35014L4.44113 17.1271H0.875L5.83961 0.997927H10.0117L14.953 17.1271H11.317ZM6.00276 10.9738H9.75535L7.8674 3.5385L6.00276 10.9738Z" fill="black"/>
              <path d="M22.5788 0.625C23.5888 0.625 24.4667 0.772617 25.2126 1.06785C25.9584 1.34755 26.6887 1.78263 27.4035 2.3731L25.702 4.35428C24.7697 3.59289 23.7908 3.21219 22.7652 3.21219C21.6154 3.21219 20.6986 3.68612 20.0149 4.63398C19.3467 5.5663 19.0126 7.0347 19.0126 9.03919C19.0126 10.9971 19.3467 12.4499 20.0149 13.3978C20.6986 14.3301 21.6231 14.7963 22.7885 14.7963C23.3946 14.7963 23.9462 14.6875 24.4434 14.47C24.9406 14.2369 25.4612 13.9106 26.005 13.491L27.59 15.4722C27.0151 16.0627 26.3003 16.5521 25.4457 16.9406C24.6066 17.3135 23.6742 17.5 22.6487 17.5C21.2036 17.5 19.9372 17.1737 18.8495 16.5211C17.7618 15.8684 16.9149 14.9128 16.3089 13.6542C15.7029 12.38 15.3999 10.8417 15.3999 9.03919C15.3999 7.28332 15.7107 5.77607 16.3322 4.51744C16.9538 3.24327 17.8084 2.27987 18.8961 1.62724C19.9838 0.959081 21.2114 0.625 22.5788 0.625Z" fill="black"/>
            </svg>
            <br>
            Alles<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="(">
            <svg width="8" height="26" viewBox="0 0 8 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.36047 2.07305C6.15797 3.79555 5.28047 5.4693 4.72797 7.0943C4.19172 8.70305 3.92359 10.6612 3.92359 12.9687C3.92359 15.2599 4.19172 17.2181 4.72797 18.8431C5.28047 20.4681 6.15797 22.1418 7.36047 23.8643L5.36172 25.2049C4.30547 23.7262 3.46859 22.4749 2.85109 21.4512C2.24984 20.4112 1.74609 19.1924 1.33984 17.7949C0.933594 16.3812 0.730469 14.7724 0.730469 12.9687C0.730469 11.1649 0.933594 9.5643 1.33984 8.1668C1.74609 6.75305 2.24984 5.5343 2.85109 4.51055C3.46859 3.47055 4.30547 2.21117 5.36172 0.732422L7.36047 2.07305Z" fill="white"/>
            </svg>
            <br>
            Klammer auf
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="&radic;(">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M23.2019 0.663457C23.3412 0.301402 23.689 0.0625 24.0769 0.0625H31C31.5178 0.0625 31.9375 0.482233 31.9375 1C31.9375 1.51777 31.5178 1.9375 31 1.9375H24.7208L13.4135 31.3365C13.2838 31.6738 12.9718 31.9065 12.6116 31.9346C12.2513 31.9628 11.907 31.7815 11.7264 31.4685L7.38161 23.9375H1C0.482233 23.9375 0.0625 23.5178 0.0625 23C0.0625 22.4822 0.482233 22.0625 1 22.0625H7.92308C8.25812 22.0625 8.5677 22.2413 8.73513 22.5315L12.3687 28.8297L23.2019 0.663457Z" fill="white"/>
            </svg>
            <br>
            Wurzel
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="&sup2;">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.4681 15.3177L16.1497 21.2041H13.0713L10.8042 16.8361L8.55778 21.2041H5.625L9.28577 15.4009L5.9994 10.201H9.03617L10.9082 13.9449L12.7593 10.201H15.6505L12.4681 15.3177Z" fill="white"/>
              <path d="M20.2652 5.625C21.2358 5.625 21.9985 5.86766 22.5531 6.35299C23.1078 6.83832 23.3851 7.44845 23.3851 8.18338C23.3851 8.64098 23.2811 9.07777 23.0731 9.49377C22.8651 9.8959 22.5046 10.3604 21.9916 10.8874C21.4924 11.4143 20.7574 12.0937 19.7868 12.9257H23.5723L23.3643 14.5273H17.4572V13.0505C18.5665 12.0106 19.3708 11.234 19.87 10.721C20.3692 10.194 20.7228 9.75723 20.9308 9.41057C21.1388 9.06391 21.2428 8.71724 21.2428 8.37058C21.2428 8.01005 21.1318 7.73272 20.91 7.53859C20.702 7.33059 20.4177 7.22659 20.0572 7.22659C19.7244 7.22659 19.4262 7.29592 19.1628 7.43458C18.9132 7.57325 18.6497 7.80205 18.3724 8.12098L17.1452 7.14339C17.9494 6.13113 18.9894 5.625 20.2652 5.625Z" fill="white"/>
            </svg>
            <br>
            Quadrat
          </div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 delete-input bg-lightgray ">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4997 7.00021C15.4997 7.24885 15.401 7.48731 15.2251 7.66312C15.0493 7.83894 14.8109 7.93771 14.5622 7.93771H3.70035L7.72597 11.9615C7.81314 12.0486 7.88228 12.1521 7.92945 12.266C7.97663 12.3799 8.00091 12.5019 8.00091 12.6252C8.00091 12.7485 7.97663 12.8705 7.92945 12.9844C7.88228 13.0983 7.81314 13.2018 7.72597 13.289C7.63881 13.3761 7.53533 13.4453 7.42144 13.4924C7.30756 13.5396 7.18549 13.5639 7.06222 13.5639C6.93895 13.5639 6.81689 13.5396 6.703 13.4924C6.58912 13.4453 6.48564 13.3761 6.39847 13.289L0.773473 7.66396C0.686167 7.57687 0.616898 7.47342 0.569636 7.35952C0.522374 7.24562 0.498047 7.12352 0.498047 7.00021C0.498047 6.87689 0.522374 6.75479 0.569636 6.6409C0.616898 6.527 0.686167 6.42354 0.773473 6.33646L6.39847 0.711458C6.57451 0.53542 6.81327 0.436523 7.06222 0.436523C7.31118 0.436523 7.54993 0.53542 7.72597 0.711458C7.90201 0.887495 8.00091 1.12625 8.00091 1.37521C8.00091 1.62416 7.90201 1.86292 7.72597 2.03896L3.70035 6.06271H14.5622C14.8109 6.06271 15.0493 6.16148 15.2251 6.3373C15.401 6.51311 15.4997 6.75157 15.4997 7.00021Z" fill="black"/>
            </svg>
            <br>
            Eingabe<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value=")">
            <svg width="8" height="26" viewBox="0 0 8 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.63258 0.732422C3.68883 2.19492 4.51758 3.44617 5.11883 4.48617C5.73633 5.52617 6.24821 6.74492 6.65446 8.14242C7.06071 9.53992 7.26383 11.1487 7.26383 12.9687C7.26383 14.7887 7.06071 16.3974 6.65446 17.7949C6.24821 19.1924 5.73633 20.4112 5.11883 21.4512C4.51758 22.4912 3.68883 23.7424 2.63258 25.2049L0.658203 23.8643C1.84445 22.1418 2.71383 20.4681 3.26633 18.8431C3.81883 17.2181 4.09508 15.2599 4.09508 12.9687C4.09508 10.6774 3.81883 8.72742 3.26633 7.11867C2.71383 5.49367 1.84445 3.8118 0.658203 2.07305L2.63258 0.732422Z" fill="white"/>
            </svg>
            <br>
            Klammer zu
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="^1/">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7226 5.94315C18.8127 5.75148 19.0377 5.625 19.2887 5.625H23.7684C24.1034 5.625 24.375 5.84721 24.375 6.12132C24.375 6.39544 24.1034 6.61765 23.7684 6.61765H19.7054L12.3889 22.1818C12.3049 22.3604 12.1031 22.4836 11.87 22.4985C11.6369 22.5134 11.4141 22.4174 11.2972 22.2517L8.48589 18.2647H4.35662C4.02159 18.2647 3.75 18.0425 3.75 17.7684C3.75 17.4943 4.02159 17.2721 4.35662 17.2721H8.83626C9.05305 17.2721 9.25336 17.3667 9.3617 17.5204L11.7129 20.8547L18.7226 5.94315Z" fill="white"/>
              <path d="M24.8456 17.4846L28.125 22.5H25.3829L23.3634 18.7784L21.3624 22.5H18.75L22.0109 17.5555L19.0835 13.125H21.7885L23.456 16.315L25.105 13.125H27.6803L24.8456 17.4846Z" fill="white"/>
              <path d="M8.50875 5.625C9.3075 5.625 9.92625 5.86687 10.365 6.35062C10.815 6.82312 11.04 7.48688 11.04 8.34188V14.805H8.88V8.67938C8.88 8.15063 8.78437 7.77938 8.59312 7.56563C8.41313 7.35188 8.14313 7.245 7.78312 7.245C7.41188 7.245 7.07437 7.36313 6.77062 7.59938C6.47812 7.82438 6.19125 8.15625 5.91 8.595V14.805H3.75V5.87812H5.62313L5.79187 7.0425C6.52312 6.0975 7.42875 5.625 8.50875 5.625Z" fill="white"/>
            </svg>
            <br>
            n-te Wurzel
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="^">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.4681 15.3179L16.1497 21.2043H13.0713L10.8042 16.8363L8.55778 21.2043H5.625L9.28577 15.4011L5.9994 10.2012H9.03617L10.9082 13.9451L12.7593 10.2012H15.6505L12.4681 15.3179Z" fill="white"/>
              <path d="M21.5265 13.1476C21.2865 13.8826 20.9227 14.4526 20.4352 14.8576C19.9477 15.2701 19.2802 15.5101 18.4327 15.5776L18.2865 14.5313C18.6765 14.4713 18.9877 14.3851 19.2202 14.2726C19.4602 14.1676 19.6515 14.0251 19.794 13.8451C19.9365 13.6651 20.0677 13.4251 20.1877 13.1251H19.6927L17.8027 7.17383H19.3327L20.6265 12.1688L21.9765 7.17383H23.4615L21.5265 13.1476Z" fill="white"/>
            </svg>
            <br>
            Potenz
          </div>
          <div class="columns calculator-button small-3 bg-gray plusmin">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.25 10.1786H6.42857V15H4.82143V10.1786H0V8.57143H4.82143V3.75H6.42857V8.57143H11.25V10.1786Z" fill="white"/>
              <path d="M30 18.75H18.75V20.625H30V18.75Z" fill="white"/>
              <path d="M7.5 28.125L20.625 1.875" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <br>
            Vorzeichen
          </div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-orange numbers-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.375 1.875H5.625C3.55393 1.875 1.875 3.55393 1.875 5.625V24.375C1.875 26.4461 3.55393 28.125 5.625 28.125H24.375C26.4461 28.125 28.125 26.4461 28.125 24.375V5.625C28.125 3.55393 26.4461 1.875 24.375 1.875ZM5.625 0C2.5184 0 0 2.5184 0 5.625V24.375C0 27.4816 2.5184 30 5.625 30H24.375C27.4816 30 30 27.4816 30 24.375V5.625C30 2.5184 27.4816 0 24.375 0H5.625ZM10.0201 5.625V14.5344H8.3521V7.33275L6.36635 8.53743L5.625 7.39894L8.5242 5.625H10.0201ZM23.5674 17.5374C23.0291 16.9108 22.2568 16.5975 21.2507 16.5975C20.6771 16.5975 20.152 16.721 19.6754 16.9682C19.2076 17.2153 18.8369 17.5683 18.5634 18.0272C18.2898 18.4773 18.153 19.0069 18.153 19.6158C18.153 20.1983 18.2633 20.7102 18.4839 21.1515C18.7046 21.5927 19.0046 21.9325 19.3841 22.1708C19.7725 22.4003 20.1961 22.515 20.655 22.515C21.4405 22.515 22.0759 22.2061 22.5613 21.5883C22.4466 22.4356 22.0847 23.1063 21.4758 23.6006C20.8756 24.086 19.9931 24.4831 18.8281 24.792L19.1856 25.9967C20.4211 25.7055 21.414 25.3304 22.1642 24.8714C22.9144 24.4125 23.4704 23.7991 23.8322 23.0313C24.1941 22.2547 24.375 21.2618 24.375 20.0527C24.375 18.9936 24.1058 18.1552 23.5674 17.5374ZM22.6408 20.3704C22.226 20.9794 21.7185 21.2839 21.1183 21.2839C20.7389 21.2839 20.43 21.1471 20.1917 20.8735C19.9622 20.5999 19.8475 20.1718 19.8475 19.5893C19.8475 19.0333 19.971 18.6053 20.2181 18.3052C20.4653 18.0052 20.8095 17.8551 21.2507 17.8551C21.7538 17.8551 22.1112 18.0493 22.323 18.4376C22.5437 18.8171 22.6496 19.4614 22.6408 20.3704Z" fill="black"/>
            </svg>
            <br>
            Ziffern<br>
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="%">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2038 4.79625C25.3126 4.90507 25.3989 5.03427 25.4579 5.17647C25.5168 5.31867 25.5471 5.47108 25.5471 5.625C25.5471 5.77892 25.5168 5.93133 25.4579 6.07353C25.3989 6.21573 25.3126 6.34493 25.2038 6.45375L6.45375 25.2038C6.34492 25.3126 6.21571 25.3989 6.07352 25.4578C5.93132 25.5167 5.77891 25.547 5.625 25.547C5.47109 25.547 5.31868 25.5167 5.17648 25.4578C5.03429 25.3989 4.90508 25.3126 4.79625 25.2038C4.68742 25.0949 4.60109 24.9657 4.54219 24.8235C4.48329 24.6813 4.45297 24.5289 4.45297 24.375C4.45297 24.2211 4.48329 24.0687 4.54219 23.9265C4.60109 23.7843 4.68742 23.6551 4.79625 23.5462L23.5462 4.79625C23.6551 4.6874 23.7843 4.60105 23.9265 4.54214C24.0687 4.48323 24.2211 4.45291 24.375 4.45291C24.5289 4.45291 24.6813 4.48323 24.8235 4.54214C24.9657 4.60105 25.0949 4.6874 25.2038 4.79625ZM8.4375 11.25C9.18342 11.25 9.89879 10.9537 10.4262 10.4262C10.9537 9.89879 11.25 9.18342 11.25 8.4375C11.25 7.69158 10.9537 6.97621 10.4262 6.44876C9.89879 5.92132 9.18342 5.625 8.4375 5.625C7.69158 5.625 6.97621 5.92132 6.44876 6.44876C5.92132 6.97621 5.625 7.69158 5.625 8.4375C5.625 9.18342 5.92132 9.89879 6.44876 10.4262C6.97621 10.9537 7.69158 11.25 8.4375 11.25ZM8.4375 13.125C9.6807 13.125 10.873 12.6311 11.7521 11.7521C12.6311 10.873 13.125 9.6807 13.125 8.4375C13.125 7.1943 12.6311 6.00201 11.7521 5.12294C10.873 4.24386 9.6807 3.75 8.4375 3.75C7.1943 3.75 6.00201 4.24386 5.12294 5.12294C4.24386 6.00201 3.75 7.1943 3.75 8.4375C3.75 9.6807 4.24386 10.873 5.12294 11.7521C6.00201 12.6311 7.1943 13.125 8.4375 13.125ZM21.5625 24.375C22.3084 24.375 23.0238 24.0787 23.5512 23.5512C24.0787 23.0238 24.375 22.3084 24.375 21.5625C24.375 20.8166 24.0787 20.1012 23.5512 19.5738C23.0238 19.0463 22.3084 18.75 21.5625 18.75C20.8166 18.75 20.1012 19.0463 19.5738 19.5738C19.0463 20.1012 18.75 20.8166 18.75 21.5625C18.75 22.3084 19.0463 23.0238 19.5738 23.5512C20.1012 24.0787 20.8166 24.375 21.5625 24.375ZM21.5625 26.25C22.8057 26.25 23.998 25.7561 24.8771 24.8771C25.7561 23.998 26.25 22.8057 26.25 21.5625C26.25 20.3193 25.7561 19.127 24.8771 18.2479C23.998 17.3689 22.8057 16.875 21.5625 16.875C20.3193 16.875 19.127 17.3689 18.2479 18.2479C17.3689 19.127 16.875 20.3193 16.875 21.5625C16.875 22.8057 17.3689 23.998 18.2479 24.8771C19.127 25.7561 20.3193 26.25 21.5625 26.25Z" fill="white"/>
            </svg>
            <br>
            Prozent
          </div>
          <div class="columns calculator-button small-3 bg-gray kehrwert">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.04587 8.20859V20.7176H5.70391V10.6063L2.91587 12.2977L1.875 10.6992L5.94554 8.20859H8.04587Z" fill="white"/>
              <path d="M15.8003 5.625L17.8448 6.08967L13.5141 22.725L11.4509 22.2417L15.8003 5.625Z" fill="white"/>
              <path d="M24.9684 15.4575L28.2583 20.7176H25.5074L23.4815 16.8143L21.4741 20.7176H18.8533L22.1246 15.5318L19.1879 10.8851H21.9016L23.5744 14.2308L25.2286 10.8851H27.8122L24.9684 15.4575Z" fill="white"/>
            </svg>
            <br>
            Kehrwert
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="sin(">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.63816 9.57486C8.12189 9.57486 9.42534 10.0117 10.5485 10.8852L9.50854 12.4452C8.56562 11.849 7.64349 11.5508 6.74216 11.5508C6.21523 11.5508 5.80617 11.6548 5.51497 11.8628C5.22377 12.057 5.07818 12.3204 5.07818 12.6532C5.07818 12.9028 5.14058 13.1108 5.26537 13.2772C5.39017 13.4436 5.61204 13.6031 5.93097 13.7556C6.26377 13.8943 6.7491 14.0538 7.38696 14.234C8.57948 14.553 9.46001 14.9759 10.0285 15.5028C10.6109 16.0297 10.9021 16.7647 10.9021 17.7076C10.9021 18.8031 10.4584 19.6628 9.57094 20.2868C8.68348 20.8969 7.58109 21.202 6.26377 21.202C5.36244 21.202 4.53738 21.0633 3.78859 20.786C3.05366 20.5086 2.4158 20.1273 1.875 19.642L3.20619 18.1444C4.16298 18.8655 5.16138 19.226 6.20137 19.226C6.79763 19.226 7.26909 19.1081 7.61576 18.8724C7.97629 18.6367 8.15655 18.3108 8.15655 17.8948C8.15655 17.5759 8.08722 17.3263 7.94855 17.146C7.82376 16.9519 7.58802 16.7855 7.24136 16.6468C6.90856 16.4943 6.38163 16.314 5.66057 16.106C4.53738 15.8009 3.71232 15.378 3.18539 14.8372C2.65846 14.2826 2.395 13.5962 2.395 12.778C2.395 12.1679 2.56833 11.6202 2.91499 11.1348C3.27552 10.6495 3.77472 10.2682 4.41258 9.99086C5.06431 9.71352 5.80617 9.57486 6.63816 9.57486Z" fill="white"/>
              <path d="M15.7191 9.88686V20.89H13.0567V9.88686H15.7191ZM14.3671 4.3125C14.8663 4.3125 15.2684 4.47197 15.5735 4.7909C15.8924 5.09596 16.0519 5.47729 16.0519 5.93489C16.0519 6.39248 15.8924 6.77381 15.5735 7.07888C15.2684 7.38394 14.8663 7.53648 14.3671 7.53648C13.8818 7.53648 13.4796 7.38394 13.1607 7.07888C12.8556 6.77381 12.7031 6.39248 12.7031 5.93489C12.7031 5.47729 12.8556 5.09596 13.1607 4.7909C13.4796 4.47197 13.8818 4.3125 14.3671 4.3125Z" fill="white"/>
              <path d="M24.7925 9.57486C25.7771 9.57486 26.5397 9.87299 27.0805 10.4693C27.6352 11.0516 27.9125 11.8698 27.9125 12.9236V20.89H25.2501V13.3396C25.2501 12.6879 25.1323 12.2303 24.8965 11.9668C24.6747 11.7034 24.3419 11.5716 23.8981 11.5716C23.4405 11.5716 23.0245 11.7172 22.6501 12.0084C22.2896 12.2858 21.936 12.6948 21.5894 13.2356V20.89H18.927V9.88686H21.2358L21.4438 11.322C22.3451 10.1573 23.4613 9.57486 24.7925 9.57486Z" fill="white"/>
            </svg>
            <br>
            Sinus
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="&pi;">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.6466 7.7578C5.53155 8.84388 4.51903 10.1632 3.93617 11.0375C3.59152 11.5544 2.89305 11.6941 2.37608 11.3495C1.85911 11.0048 1.71942 10.3064 2.06406 9.7894C2.71196 8.81754 3.82251 7.36762 5.07668 6.14602C5.70374 5.53525 6.39372 4.95492 7.10373 4.5209C7.79862 4.09612 8.61202 3.75 9.46162 3.75H27C27.6213 3.75 28.125 4.25368 28.125 4.87499C28.125 5.49631 27.6213 5.99999 27 5.99999H21.147C20.3376 12.233 20.1347 15.3966 20.1347 16.9904C20.1347 17.457 20.1523 17.7738 20.1735 17.9843L20.3323 18.5006C20.3323 18.5004 20.3323 18.5006 19.6155 18.7211L20.3323 18.5006L20.3348 18.5088L20.3415 18.5306L20.3664 18.6131C20.3878 18.6847 20.4187 18.7888 20.4569 18.9201C20.5331 19.1826 20.6385 19.5543 20.7555 19.9933C20.9888 20.868 21.272 22.0229 21.4621 23.1157C21.5571 23.6619 21.6309 24.2043 21.6621 24.6952C21.6925 25.174 21.6863 25.6563 21.5917 26.0583C21.5051 26.4262 21.2735 26.9951 20.6455 27.1521C20.0885 27.2913 19.5609 27.0023 19.1655 26.7057C18.6399 26.3115 18.2855 25.7235 18.0417 25.073C17.7961 24.4176 17.6414 23.6419 17.5515 22.7988C17.3716 21.1126 17.44 19.0477 17.6459 16.8959C18.0039 13.1528 18.7885 9.04606 19.4962 5.99999H14.5476L9.24258 25.4516L9.20937 25.518C9.1083 25.7202 8.96465 25.9483 8.7816 26.1517C8.60443 26.3485 8.34698 26.5704 8.00922 26.6804C7.63568 26.802 7.22286 26.7654 6.84542 26.5243C6.5016 26.3047 6.23659 25.948 6.0216 25.5181C5.89786 25.2706 5.87407 24.9956 5.87324 24.7817C5.87235 24.5497 5.89965 24.2904 5.94381 24.0183C6.03233 23.4727 6.20178 22.7977 6.4261 22.0392C6.87604 20.5178 7.5711 18.5803 8.3697 16.5125C9.73752 12.9707 11.4257 9.00367 12.7541 5.99999H9.46162C9.20354 5.99999 8.80925 6.11541 8.27723 6.44062C7.76032 6.7566 7.20414 7.21473 6.6466 7.7578Z" fill="white"/>
            </svg>
            <br>
            Pi
          </div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-orange drg-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4007 26.9232C13.107 27.2152 13.1057 27.6901 13.3977 27.9838C13.6898 28.2775 14.1646 28.2789 14.4584 27.9868C16.7134 25.7445 18.353 22.6356 18.9203 19.3046H25.0652C25.4794 19.3046 25.8152 18.9688 25.8152 18.5546C25.8152 18.1404 25.4794 17.8046 25.0652 17.8046H19.1009C19.2354 15.8913 19.0052 13.9377 18.3276 12.0603C17.812 10.6318 17.1111 9.38401 16.2793 8.29417L19.6991 4.87433C19.992 4.58144 19.992 4.10657 19.6991 3.81367C19.4062 3.52078 18.9313 3.52078 18.6384 3.81367L15.3045 7.14763C12.4828 4.15814 8.62311 2.57237 5.29304 1.73986C4.89119 1.63939 4.48399 1.88371 4.38353 2.28556C4.28307 2.68741 4.52739 3.09461 4.92923 3.19507C8.15714 4.00205 11.6981 5.49547 14.2419 8.21017L4.52941 17.9227C4.32143 18.056 4.18359 18.2892 4.18359 18.5546L4.18369 18.5669C4.18051 18.7629 4.2537 18.9599 4.40326 19.1095C4.59871 19.305 4.8752 19.37 5.12457 19.3046H17.3958C16.8477 22.214 15.3972 24.938 13.4007 26.9232ZM17.5955 17.8046C17.732 16.0532 17.5304 14.2698 16.9167 12.5695C16.4834 11.369 15.9005 10.3066 15.2065 9.36694L6.76885 17.8046H17.5955Z" fill="black"/>
            </svg>
            <br>
            DRG
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="cos(">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.11743 9.375C5.83567 9.375 6.47793 9.47859 7.04424 9.68577C7.62435 9.89296 8.16993 10.2175 8.68099 10.6595L7.50004 12.2548C7.12711 11.9786 6.76799 11.7783 6.42269 11.654C6.07738 11.5297 5.69754 11.4676 5.28318 11.4676C3.63952 11.4676 2.81769 12.7176 2.81769 15.2176C2.81769 16.4883 3.03178 17.4068 3.45996 17.9731C3.88814 18.5256 4.49588 18.8018 5.28318 18.8018C5.66992 18.8018 6.02213 18.7397 6.33981 18.6154C6.67131 18.4911 7.05805 18.2908 7.50004 18.0145L8.68099 19.6927C7.64507 20.5353 6.46412 20.9566 5.13815 20.9566C4.08842 20.9566 3.17681 20.7286 2.40333 20.2728C1.62984 19.8032 1.03592 19.1402 0.62155 18.2839C0.207183 17.4275 0 16.4192 0 15.259C0 14.0988 0.207183 13.0767 0.62155 12.1927C1.03592 11.2949 1.62984 10.6043 2.40333 10.1209C3.17681 9.62362 4.08151 9.375 5.11743 9.375Z" fill="white"/>
              <path d="M14.6687 9.375C16.2848 9.375 17.5417 9.89296 18.4395 10.9289C19.3511 11.951 19.8069 13.3598 19.8069 15.1554C19.8069 16.3018 19.5997 17.317 19.1853 18.201C18.771 19.0712 18.1771 19.748 17.4036 20.2314C16.6301 20.7148 15.7116 20.9566 14.648 20.9566C13.032 20.9566 11.7682 20.4455 10.8566 19.4234C9.94497 18.3875 9.48916 16.9648 9.48916 15.1554C9.48916 14.009 9.69635 13.0007 10.1107 12.1305C10.5251 11.2604 11.119 10.5836 11.8925 10.1001C12.6798 9.61671 13.6052 9.375 14.6687 9.375ZM14.6687 11.3847C13.0803 11.3847 12.2861 12.6416 12.2861 15.1554C12.2861 16.4538 12.4795 17.4137 12.8663 18.0353C13.2668 18.643 13.8607 18.9469 14.648 18.9469C15.4353 18.9469 16.0223 18.6361 16.4091 18.0145C16.8096 17.393 17.0099 16.44 17.0099 15.1554C17.0099 13.8709 16.8096 12.9247 16.4091 12.317C16.0223 11.6955 15.4422 11.3847 14.6687 11.3847Z" fill="white"/>
              <path d="M25.7527 9.375C27.2306 9.375 28.529 9.81008 29.6478 10.6803L28.6119 12.2341C27.6726 11.6402 26.7541 11.3432 25.8563 11.3432C25.3315 11.3432 24.924 11.4468 24.6339 11.654C24.3439 11.8474 24.1989 12.1098 24.1989 12.4413C24.1989 12.6899 24.261 12.8971 24.3853 13.0629C24.5096 13.2286 24.7306 13.3875 25.0483 13.5394C25.3798 13.6775 25.8632 13.8363 26.4986 14.0159C27.6864 14.3336 28.5635 14.7549 29.1298 15.2797C29.7099 15.8046 30 16.5366 30 17.4759C30 18.567 29.558 19.4234 28.674 20.0449C27.79 20.6527 26.692 20.9566 25.3798 20.9566C24.482 20.9566 23.6602 20.8184 22.9143 20.5422C22.1823 20.2659 21.5469 19.8861 21.0082 19.4027L22.3342 17.911C23.2873 18.6292 24.2817 18.9883 25.3177 18.9883C25.9116 18.9883 26.3812 18.8709 26.7265 18.6361C27.0856 18.4013 27.2652 18.0767 27.2652 17.6623C27.2652 17.3447 27.1961 17.096 27.058 16.9165C26.9337 16.7231 26.6989 16.5574 26.3536 16.4192C26.0221 16.2673 25.4972 16.0877 24.779 15.8806C23.6602 15.5767 22.8384 15.1554 22.3135 14.6167C21.7886 14.0642 21.5262 13.3805 21.5262 12.5656C21.5262 11.9579 21.6988 11.4123 22.0442 10.9289C22.4033 10.4454 22.9005 10.0656 23.5359 9.78937C24.185 9.51312 24.924 9.375 25.7527 9.375Z" fill="white"/>
            </svg>
            <br>
            Cosinus
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="tan(">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.79994 20.7287C7.41168 21.006 6.97488 21.214 6.48955 21.3527C6.01809 21.4914 5.53276 21.5607 5.03356 21.5607C3.95197 21.5468 3.12691 21.2418 2.55838 20.6455C2.00372 20.0354 1.72639 19.141 1.72639 17.9623V12.1592H0V10.2456H1.72639V7.812L4.38877 7.5V10.2456H6.94715L6.67675 12.1592H4.38877V17.8999C4.38877 18.4407 4.4789 18.829 4.65917 19.0647C4.8533 19.3004 5.15143 19.4183 5.55356 19.4183C5.95569 19.4183 6.39249 19.2866 6.86395 19.0231L7.79994 20.7287Z" fill="white"/>
              <path d="M17.2271 18.3367C17.2271 18.7666 17.2895 19.0855 17.4143 19.2935C17.553 19.4876 17.7679 19.6402 18.0591 19.7511L17.4975 21.5191C16.8735 21.4636 16.3605 21.3111 15.9584 21.0615C15.5701 20.8119 15.272 20.4306 15.064 19.9175C14.6896 20.4722 14.2181 20.8882 13.6496 21.1655C13.0949 21.429 12.4709 21.5607 11.7776 21.5607C10.6821 21.5607 9.81547 21.2487 9.17761 20.6247C8.53974 20.0007 8.22081 19.1826 8.22081 18.1703C8.22081 16.9778 8.65068 16.0695 9.5104 15.4455C10.384 14.8077 11.6251 14.4887 13.2336 14.4887H14.6064V13.8648C14.6064 13.1576 14.44 12.6653 14.1072 12.388C13.7882 12.0968 13.2682 11.9512 12.5472 11.9512C11.7429 11.9512 10.7723 12.1453 9.6352 12.5336L9.01121 10.724C10.384 10.197 11.7152 9.93358 13.0048 9.93358C15.8197 9.93358 17.2271 11.1954 17.2271 13.7192V18.3367ZM12.4848 19.6263C13.3861 19.6263 14.0933 19.1756 14.6064 18.2743V16.0487H13.504C11.7845 16.0487 10.9248 16.6866 10.9248 17.9623C10.9248 18.4893 11.0565 18.8983 11.32 19.1895C11.5835 19.4807 11.9717 19.6263 12.4848 19.6263Z" fill="white"/>
              <path d="M26.3146 9.93358C27.2991 9.93358 28.0618 10.2317 28.6025 10.828C29.1572 11.4104 29.4345 12.2285 29.4345 13.2824V21.2487H26.7722V13.6984C26.7722 13.0466 26.6543 12.589 26.4186 12.3256C26.1967 12.0621 25.8639 11.9304 25.4202 11.9304C24.9626 11.9304 24.5466 12.076 24.1722 12.3672C23.8116 12.6445 23.4581 13.0536 23.1114 13.5944V21.2487H20.449V10.2456H22.7578L22.9658 11.6808C23.8671 10.516 24.9834 9.93358 26.3146 9.93358Z" fill="white"/>
            </svg>
            <br>
            Tangens
          </div>
          <div class="columns calculator-button small-3 bg-gray " data-value="log(">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.55625 21.5063C3.7175 21.5063 3.0575 21.2656 2.57625 20.7844C2.10875 20.2894 1.875 19.595 1.875 18.7013V5.91375L4.515 5.625V18.6188C4.515 19.1275 4.72125 19.3819 5.13375 19.3819C5.34 19.3819 5.54625 19.3475 5.7525 19.2788L6.30937 21.135C5.75938 21.3825 5.175 21.5063 4.55625 21.5063Z" fill="white"/>
              <path d="M12.4152 9.97688C14.0239 9.97688 15.2752 10.4925 16.1689 11.5238C17.0764 12.5413 17.5302 13.9438 17.5302 15.7313C17.5302 16.8725 17.3239 17.8831 16.9114 18.7631C16.4989 19.6294 15.9077 20.3031 15.1377 20.7844C14.3677 21.2656 13.4533 21.5063 12.3946 21.5063C10.7858 21.5063 9.52768 20.9975 8.62018 19.98C7.71268 18.9488 7.25893 17.5325 7.25893 15.7313C7.25893 14.59 7.46518 13.5863 7.87768 12.72C8.29018 11.8538 8.88143 11.18 9.65143 10.6988C10.4352 10.2175 11.3564 9.97688 12.4152 9.97688ZM12.4152 11.9775C10.8339 11.9775 10.0433 13.2288 10.0433 15.7313C10.0433 17.0238 10.2358 17.9794 10.6208 18.5981C11.0196 19.2031 11.6108 19.5056 12.3946 19.5056C13.1783 19.5056 13.7627 19.1963 14.1477 18.5775C14.5464 17.9588 14.7458 17.01 14.7458 15.7313C14.7458 14.4525 14.5464 13.5106 14.1477 12.9056C13.7627 12.2869 13.1852 11.9775 12.4152 11.9775Z" fill="white"/>
              <path d="M29.4924 10.8637C28.7911 11.1113 27.7392 11.235 26.3367 11.235C27.0105 11.5375 27.5055 11.9156 27.8217 12.3694C28.1517 12.8094 28.3167 13.3663 28.3167 14.04C28.3167 14.755 28.138 15.3875 27.7805 15.9375C27.4367 16.4875 26.928 16.9206 26.2542 17.2369C25.5942 17.5531 24.8174 17.7113 23.9236 17.7113C23.4286 17.7113 22.9955 17.6563 22.6242 17.5463C22.3217 17.7525 22.1705 18.0206 22.1705 18.3506C22.1705 18.8594 22.6105 19.1138 23.4905 19.1138H25.1611C25.9586 19.1138 26.653 19.2444 27.2442 19.5056C27.8492 19.7669 28.3167 20.1381 28.6467 20.6194C28.9767 21.0869 29.1417 21.6163 29.1417 22.2075C29.1417 23.3075 28.6742 24.16 27.7392 24.765C26.8042 25.3838 25.4567 25.6931 23.6967 25.6931C22.4317 25.6931 21.4349 25.5625 20.7061 25.3013C19.9911 25.04 19.4824 24.6619 19.1799 24.1669C18.8774 23.6719 18.7261 23.0394 18.7261 22.2694H21.098C21.098 22.6544 21.1667 22.9569 21.3042 23.1769C21.4555 23.3969 21.7167 23.5619 22.088 23.6719C22.473 23.7819 23.023 23.8369 23.738 23.8369C24.7417 23.8369 25.4499 23.7131 25.8624 23.4656C26.2749 23.2181 26.4811 22.8606 26.4811 22.3931C26.4811 21.9806 26.323 21.6575 26.0067 21.4238C25.6905 21.2038 25.2299 21.0938 24.6249 21.0938H22.9749C21.9436 21.0938 21.1667 20.8944 20.6442 20.4956C20.1217 20.0969 19.8605 19.595 19.8605 18.99C19.8605 18.605 19.9705 18.2338 20.1905 17.8763C20.4242 17.5188 20.7405 17.2163 21.1392 16.9688C20.4792 16.625 19.9911 16.2056 19.6749 15.7106C19.3724 15.2019 19.2211 14.5969 19.2211 13.8956C19.2211 13.1119 19.4136 12.4244 19.7986 11.8331C20.1836 11.2419 20.713 10.7881 21.3867 10.4719C22.0742 10.1419 22.858 9.97688 23.738 9.97688C24.893 10.0044 25.8211 9.92188 26.5224 9.72937C27.2374 9.52312 28.0074 9.2 28.8324 8.76L29.4924 10.8637ZM23.7792 11.7713C23.188 11.7713 22.7205 11.9638 22.3767 12.3488C22.0467 12.72 21.8817 13.2219 21.8817 13.8544C21.8817 14.5144 22.0536 15.0369 22.3974 15.4219C22.7411 15.8069 23.2155 15.9994 23.8205 15.9994C24.453 15.9994 24.9342 15.8138 25.2642 15.4425C25.5942 15.0575 25.7592 14.5213 25.7592 13.8338C25.7592 12.4588 25.0992 11.7713 23.7792 11.7713Z" fill="white"/>
            </svg>
            <br>
            Logarithmus
          </div>
          <div class="columns calculator-button small-3 bg-lightgray text-blue result-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.375 13.125H5.625V11.25H24.375V13.125Z" fill="#00549F"/>
              <path d="M24.375 18.75H5.625V16.875H24.375V18.75Z" fill="#00549F"/>
            </svg>
            <br>
            Gleich
          </div>
        </div>
      </div>
    </div>

    <div class="grid-y" id="calp3">
      <div class = "columns small-3 grid-x">

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 delete-all bg-lightgray ">
            <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.317 17.1271L10.408 13.5143H5.35014L4.44113 17.1271H0.875L5.83961 0.997927H10.0117L14.953 17.1271H11.317ZM6.00276 10.9738H9.75535L7.8674 3.5385L6.00276 10.9738Z" fill="black"/>
              <path d="M22.5788 0.625C23.5888 0.625 24.4667 0.772617 25.2126 1.06785C25.9584 1.34755 26.6887 1.78263 27.4035 2.3731L25.702 4.35428C24.7697 3.59289 23.7908 3.21219 22.7652 3.21219C21.6154 3.21219 20.6986 3.68612 20.0149 4.63398C19.3467 5.5663 19.0126 7.0347 19.0126 9.03919C19.0126 10.9971 19.3467 12.4499 20.0149 13.3978C20.6986 14.3301 21.6231 14.7963 22.7885 14.7963C23.3946 14.7963 23.9462 14.6875 24.4434 14.47C24.9406 14.2369 25.4612 13.9106 26.005 13.491L27.59 15.4722C27.0151 16.0627 26.3003 16.5521 25.4457 16.9406C24.6066 17.3135 23.6742 17.5 22.6487 17.5C21.2036 17.5 19.9372 17.1737 18.8495 16.5211C17.7618 15.8684 16.9149 14.9128 16.3089 13.6542C15.7029 12.38 15.3999 10.8417 15.3999 9.03919C15.3999 7.28332 15.7107 5.77607 16.3322 4.51744C16.9538 3.24327 17.8084 2.27987 18.8961 1.62724C19.9838 0.959081 21.2114 0.625 22.5788 0.625Z" fill="black"/>
            </svg>
            <br>
            Alles<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 delete-input bg-lightgray ">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4997 7.00021C15.4997 7.24885 15.401 7.48731 15.2251 7.66312C15.0493 7.83894 14.8109 7.93771 14.5622 7.93771H3.70035L7.72597 11.9615C7.81314 12.0486 7.88228 12.1521 7.92945 12.266C7.97663 12.3799 8.00091 12.5019 8.00091 12.6252C8.00091 12.7485 7.97663 12.8705 7.92945 12.9844C7.88228 13.0983 7.81314 13.2018 7.72597 13.289C7.63881 13.3761 7.53533 13.4453 7.42144 13.4924C7.30756 13.5396 7.18549 13.5639 7.06222 13.5639C6.93895 13.5639 6.81689 13.5396 6.703 13.4924C6.58912 13.4453 6.48564 13.3761 6.39847 13.289L0.773473 7.66396C0.686167 7.57687 0.616898 7.47342 0.569636 7.35952C0.522374 7.24562 0.498047 7.12352 0.498047 7.00021C0.498047 6.87689 0.522374 6.75479 0.569636 6.6409C0.616898 6.527 0.686167 6.42354 0.773473 6.33646L6.39847 0.711458C6.57451 0.53542 6.81327 0.436523 7.06222 0.436523C7.31118 0.436523 7.54993 0.53542 7.72597 0.711458C7.90201 0.887495 8.00091 1.12625 8.00091 1.37521C8.00091 1.62416 7.90201 1.86292 7.72597 2.03896L3.70035 6.06271H14.5622C14.8109 6.06271 15.0493 6.16148 15.2251 6.3373C15.401 6.51311 15.4997 6.75157 15.4997 7.00021Z" fill="black"/>
            </svg>
            <br>
            Eingabe<br>löschen
          </div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-orange numbers-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.375 1.875H5.625C3.55393 1.875 1.875 3.55393 1.875 5.625V24.375C1.875 26.4461 3.55393 28.125 5.625 28.125H24.375C26.4461 28.125 28.125 26.4461 28.125 24.375V5.625C28.125 3.55393 26.4461 1.875 24.375 1.875ZM5.625 0C2.5184 0 0 2.5184 0 5.625V24.375C0 27.4816 2.5184 30 5.625 30H24.375C27.4816 30 30 27.4816 30 24.375V5.625C30 2.5184 27.4816 0 24.375 0H5.625ZM10.0201 5.625V14.5344H8.3521V7.33275L6.36635 8.53743L5.625 7.39894L8.5242 5.625H10.0201ZM23.5674 17.5374C23.0291 16.9108 22.2568 16.5975 21.2507 16.5975C20.6771 16.5975 20.152 16.721 19.6754 16.9682C19.2076 17.2153 18.8369 17.5683 18.5634 18.0272C18.2898 18.4773 18.153 19.0069 18.153 19.6158C18.153 20.1983 18.2633 20.7102 18.4839 21.1515C18.7046 21.5927 19.0046 21.9325 19.3841 22.1708C19.7725 22.4003 20.1961 22.515 20.655 22.515C21.4405 22.515 22.0759 22.2061 22.5613 21.5883C22.4466 22.4356 22.0847 23.1063 21.4758 23.6006C20.8756 24.086 19.9931 24.4831 18.8281 24.792L19.1856 25.9967C20.4211 25.7055 21.414 25.3304 22.1642 24.8714C22.9144 24.4125 23.4704 23.7991 23.8322 23.0313C24.1941 22.2547 24.375 21.2618 24.375 20.0527C24.375 18.9936 24.1058 18.1552 23.5674 17.5374ZM22.6408 20.3704C22.226 20.9794 21.7185 21.2839 21.1183 21.2839C20.7389 21.2839 20.43 21.1471 20.1917 20.8735C19.9622 20.5999 19.8475 20.1718 19.8475 19.5893C19.8475 19.0333 19.971 18.6053 20.2181 18.3052C20.4653 18.0052 20.8095 17.8551 21.2507 17.8551C21.7538 17.8551 22.1112 18.0493 22.323 18.4376C22.5437 18.8171 22.6496 19.4614 22.6408 20.3704Z" fill="black"/>
            </svg>
            <br>
            Ziffern
          </div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
          <div class="columns calculator-button small-3 bg-lightgray">&nbsp;</div>
        </div>

        <div class="columns small-3 grid-y">
          <div class="columns calculator-button small-3 bg-orange more-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.375 1.875H5.625C3.55393 1.875 1.875 3.55393 1.875 5.625V24.375C1.875 26.4461 3.55393 28.125 5.625 28.125H24.375C26.4461 28.125 28.125 26.4461 28.125 24.375V5.625C28.125 3.55393 26.4461 1.875 24.375 1.875ZM5.625 0C2.5184 0 0 2.5184 0 5.625V24.375C0 27.4816 2.5184 30 5.625 30H24.375C27.4816 30 30 27.4816 30 24.375V5.625C30 2.5184 27.4816 0 24.375 0H5.625ZM13.2967 5.69118C13.2746 5.63785 13.2422 5.5894 13.2014 5.54859C13.1606 5.50777 13.1121 5.47539 13.0588 5.4533C13.0055 5.43121 12.9483 5.41984 12.8906 5.41984C12.8329 5.41984 12.7758 5.43121 12.7224 5.4533C12.6691 5.47539 12.6207 5.50777 12.5798 5.54859L5.54859 12.5798C5.50778 12.6207 5.47541 12.6691 5.45332 12.7224C5.43123 12.7758 5.41986 12.8329 5.41986 12.8906C5.41986 12.9483 5.43123 13.0055 5.45332 13.0588C5.47541 13.1121 5.50778 13.1606 5.54859 13.2014C5.58941 13.2422 5.63786 13.2746 5.69118 13.2967C5.74451 13.3188 5.80166 13.3301 5.85938 13.3301C5.91709 13.3301 5.97424 13.3188 6.02757 13.2967C6.08089 13.2746 6.12934 13.2422 6.17016 13.2014L13.2014 6.17016C13.2422 6.12935 13.2746 6.0809 13.2967 6.02757C13.3188 5.97425 13.3302 5.91709 13.3302 5.85938C13.3302 5.80166 13.3188 5.7445 13.2967 5.69118ZM7.65984 7.65984C7.46205 7.85763 7.19378 7.96875 6.91406 7.96875C6.63434 7.96875 6.36608 7.85763 6.16829 7.65984C5.97049 7.46205 5.85938 7.19378 5.85938 6.91406C5.85938 6.63434 5.97049 6.36608 6.16829 6.16829C6.36608 5.97049 6.63434 5.85938 6.91406 5.85938C7.19378 5.85938 7.46205 5.97049 7.65984 6.16829C7.85763 6.36608 7.96875 6.63434 7.96875 6.91406C7.96875 7.19378 7.85763 7.46205 7.65984 7.65984ZM8.15702 8.15702C7.82737 8.48668 7.38026 8.67188 6.91406 8.67188C6.44786 8.67188 6.00076 8.48668 5.6711 8.15702C5.34145 7.82737 5.15625 7.38026 5.15625 6.91406C5.15625 6.44786 5.34145 6.00076 5.6711 5.6711C6.00076 5.34145 6.44786 5.15625 6.91406 5.15625C7.38026 5.15625 7.82737 5.34145 8.15702 5.6711C8.48668 6.00076 8.67188 6.44786 8.67188 6.91406C8.67188 7.38026 8.48668 7.82737 8.15702 8.15702ZM12.5817 12.5817C12.3839 12.7795 12.1157 12.8906 11.8359 12.8906C11.5562 12.8906 11.288 12.7795 11.0902 12.5817C10.8924 12.3839 10.7812 12.1157 10.7812 11.8359C10.7812 11.5562 10.8924 11.288 11.0902 11.0902C11.288 10.8924 11.5562 10.7812 11.8359 10.7812C12.1157 10.7812 12.3839 10.8924 12.5817 11.0902C12.7795 11.288 12.8906 11.5562 12.8906 11.8359C12.8906 12.1157 12.7795 12.3839 12.5817 12.5817ZM13.0789 13.0789C12.7492 13.4086 12.3021 13.5938 11.8359 13.5938C11.3697 13.5938 10.9226 13.4086 10.593 13.0789C10.2633 12.7492 10.0781 12.3021 10.0781 11.8359C10.0781 11.3697 10.2633 10.9226 10.593 10.593C10.9226 10.2633 11.3697 10.0781 11.8359 10.0781C12.3021 10.0781 12.7492 10.2633 13.0789 10.593C13.4086 10.9226 13.5938 11.3697 13.5938 11.8359C13.5938 12.3021 13.4086 12.7492 13.0789 13.0789ZM10.9567 16.7067C11.0264 16.5257 11.2003 16.4062 11.3942 16.4062H13.125C13.3839 16.4062 13.5938 16.6161 13.5938 16.875C13.5938 17.1339 13.3839 17.3438 13.125 17.3438H11.7162L8.94712 24.5433C8.88227 24.7119 8.72628 24.8282 8.54617 24.8423C8.36605 24.8564 8.19387 24.7657 8.10359 24.6092L7.08504 22.8438H5.625C5.36612 22.8438 5.15625 22.6339 5.15625 22.375C5.15625 22.1161 5.36612 21.9062 5.625 21.9062H7.35577C7.52329 21.9062 7.67808 21.9956 7.76179 22.1408L8.42475 23.2899L10.9567 16.7067ZM21.8669 7.635V11.6025H20.9069V7.635H21.8669ZM21.3794 5.625C21.5594 5.625 21.7044 5.6825 21.8144 5.7975C21.9294 5.9075 21.9869 6.045 21.9869 6.21C21.9869 6.375 21.9294 6.5125 21.8144 6.6225C21.7044 6.7325 21.5594 6.7875 21.3794 6.7875C21.2044 6.7875 21.0594 6.7325 20.9444 6.6225C20.8344 6.5125 20.7794 6.375 20.7794 6.21C20.7794 6.045 20.8344 5.9075 20.9444 5.7975C21.0594 5.6825 21.2044 5.625 21.3794 5.625ZM18.5925 7.5225C19.1275 7.5225 19.5975 7.68 20.0025 7.995L19.6275 8.5575C19.2875 8.3425 18.955 8.235 18.63 8.235C18.44 8.235 18.2925 8.2725 18.1875 8.3475C18.0825 8.4175 18.03 8.5125 18.03 8.6325C18.03 8.7225 18.0525 8.7975 18.0975 8.8575C18.1425 8.9175 18.2225 8.975 18.3375 9.03C18.4575 9.08 18.6325 9.1375 18.8625 9.2025C19.2925 9.3175 19.61 9.47 19.815 9.66C20.025 9.85 20.13 10.115 20.13 10.455C20.13 10.85 19.97 11.16 19.65 11.385C19.33 11.605 18.9325 11.715 18.4575 11.715C18.1325 11.715 17.835 11.665 17.565 11.565C17.3 11.465 17.07 11.3275 16.875 11.1525L17.355 10.6125C17.7 10.8725 18.06 11.0025 18.435 11.0025C18.65 11.0025 18.82 10.96 18.945 10.875C19.075 10.79 19.14 10.6725 19.14 10.5225C19.14 10.4075 19.115 10.3175 19.065 10.2525C19.02 10.1825 18.935 10.1225 18.81 10.0725C18.69 10.0175 18.5 9.9525 18.24 9.8775C17.835 9.7675 17.5375 9.615 17.3475 9.42C17.1575 9.22 17.0625 8.9725 17.0625 8.6775C17.0625 8.4575 17.125 8.26 17.25 8.085C17.38 7.91 17.56 7.7725 17.79 7.6725C18.025 7.5725 18.2925 7.5225 18.5925 7.5225ZM25.9636 7.845C25.7686 7.63 25.4936 7.5225 25.1386 7.5225C24.6586 7.5225 24.2561 7.7325 23.9311 8.1525L23.8561 7.635H23.0236V11.6025H23.9836V8.8425C24.1086 8.6475 24.2361 8.5 24.3661 8.4C24.5011 8.295 24.6511 8.2425 24.8161 8.2425C24.9761 8.2425 25.0961 8.29 25.1761 8.385C25.2611 8.48 25.3036 8.645 25.3036 8.88V11.6025H26.2636V8.73C26.2636 8.35 26.1636 8.055 25.9636 7.845ZM25.2604 17.2356C24.9857 16.9952 24.6079 16.875 24.1271 16.875C23.4951 16.875 22.98 17.1257 22.5816 17.6271L23.1895 18.1114C23.3268 17.9534 23.4574 17.8401 23.581 17.7714C23.7115 17.7027 23.8592 17.6684 24.024 17.6684C24.2026 17.6684 24.3434 17.7199 24.4465 17.8229C24.5564 17.9191 24.6113 18.0564 24.6113 18.235C24.6113 18.4068 24.5598 18.5785 24.4568 18.7502C24.3537 18.9219 24.1786 19.1383 23.9313 19.3993C23.684 19.6535 23.2856 20.0381 22.7361 20.5533V21.2848H25.6623L25.7653 20.4915H23.8901C24.3709 20.0793 24.735 19.7428 24.9822 19.4817C25.2364 19.2207 25.415 18.9906 25.518 18.7914C25.621 18.5853 25.6726 18.369 25.6726 18.1423C25.6726 17.7783 25.5352 17.476 25.2604 17.2356ZM22.0885 24.5922L20.2648 21.6763L21.8412 19.1417H20.409L19.492 20.9963L18.5647 19.1417H17.0605L18.6884 21.7175L16.875 24.5922H18.3278L19.4405 22.4285L20.5636 24.5922H22.0885Z" fill="black"/>
            <br>
            Weitere Befehle
          </div>
          <div class="columns calculator-button small-3 bg-gray deg">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="18.75" cy="15" r="4.875" stroke="white" stroke-width="1.5"/>
            </svg>
            <br>
            Grad
          </div>
          <div class="columns calculator-button small-3 bg-gray rad">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.95265 10.8192C7.32877 10.8192 7.67246 10.8646 7.98374 10.9554L7.55574 13.3677C7.24446 13.2899 6.93967 13.251 6.64137 13.251C6.03179 13.251 5.55192 13.4715 5.20173 13.9125C4.85155 14.3405 4.5727 15.0019 4.36519 15.8968V21.383H1.875V11.0916H4.03446L4.26791 13.1148C4.51434 12.3756 4.87101 11.8114 5.33792 11.4223C5.80483 11.0202 6.34307 10.8192 6.95265 10.8192Z" fill="white"/>
              <path d="M16.4542 18.6594C16.4542 19.0615 16.5126 19.3598 16.6293 19.5543C16.759 19.7359 16.96 19.8785 17.2324 19.9823L16.7071 21.6359C16.1235 21.5841 15.6436 21.4414 15.2675 21.2079C14.9043 20.9745 14.6255 20.6178 14.431 20.1379C14.0808 20.6567 13.6398 21.0458 13.108 21.3052C12.5893 21.5516 12.0056 21.6748 11.3571 21.6748C10.3325 21.6748 9.52192 21.383 8.92531 20.7994C8.3287 20.2158 8.0304 19.4505 8.0304 18.5038C8.0304 17.3884 8.43246 16.5388 9.23658 15.9552C10.0537 15.3586 11.2145 15.0603 12.719 15.0603H14.003V14.4767C14.003 13.8152 13.8473 13.3548 13.536 13.0954C13.2377 12.823 12.7514 12.6868 12.077 12.6868C11.3247 12.6868 10.4168 12.8684 9.35331 13.2316L8.76967 11.539C10.0537 11.0462 11.2988 10.7997 12.505 10.7997C15.1378 10.7997 16.4542 11.98 16.4542 14.3405V18.6594ZM12.0186 19.8656C12.8616 19.8656 13.5231 19.4441 14.003 18.601V16.5194H12.9719C11.3636 16.5194 10.5595 17.116 10.5595 18.3092C10.5595 18.8021 10.6827 19.1847 10.9291 19.457C11.1756 19.7294 11.5387 19.8656 12.0186 19.8656Z" fill="white"/>
              <path d="M28.125 6.96719V21.383H25.9266L25.7515 20.0796C25.4273 20.5724 25.0123 20.9615 24.5064 21.2468C24.0136 21.5322 23.4494 21.6748 22.8139 21.6748C21.5558 21.6748 20.5896 21.1885 19.9152 20.2158C19.2407 19.243 18.9035 17.9201 18.9035 16.247C18.9035 15.1965 19.0721 14.2627 19.4093 13.4456C19.7466 12.6155 20.2264 11.967 20.849 11.5001C21.4845 11.0332 22.2173 10.7997 23.0474 10.7997C24.0331 10.7997 24.8955 11.1694 25.6348 11.9087V6.69482L28.125 6.96719ZM23.5143 19.7878C23.9552 19.7878 24.3443 19.684 24.6815 19.4765C25.0188 19.256 25.3365 18.9188 25.6348 18.4648V13.7568C25.3365 13.3937 25.0317 13.1213 24.7204 12.9397C24.4221 12.7582 24.072 12.6674 23.6699 12.6674C23.0084 12.6674 22.4832 12.9657 22.0941 13.5623C21.718 14.1459 21.5299 15.0344 21.5299 16.2276C21.5299 17.4986 21.6985 18.413 22.0357 18.9707C22.3729 19.5154 22.8658 19.7878 23.5143 19.7878Z" fill="white"/>
            </svg>
            <br>
            Radiant
          </div>
          <div class="columns calculator-button small-3 bg-gray gon">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.7875 9.4125C9.15 9.6375 8.19375 9.75 6.91875 9.75C7.53125 10.025 7.98125 10.3688 8.26875 10.7813C8.56875 11.1813 8.71875 11.6875 8.71875 12.3C8.71875 12.95 8.55625 13.525 8.23125 14.025C7.91875 14.525 7.45625 14.9188 6.84375 15.2063C6.24375 15.4938 5.5375 15.6375 4.725 15.6375C4.275 15.6375 3.88125 15.5875 3.54375 15.4875C3.26875 15.675 3.13125 15.9188 3.13125 16.2188C3.13125 16.6813 3.53125 16.9125 4.33125 16.9125H5.85C6.575 16.9125 7.20625 17.0312 7.74375 17.2687C8.29375 17.5062 8.71875 17.8437 9.01875 18.2812C9.31875 18.7062 9.46875 19.1875 9.46875 19.725C9.46875 20.725 9.04375 21.5 8.19375 22.05C7.34375 22.6125 6.11875 22.8938 4.51875 22.8938C3.36875 22.8938 2.4625 22.775 1.8 22.5375C1.15 22.3 0.6875 21.9563 0.4125 21.5063C0.1375 21.0563 0 20.4812 0 19.7812H2.15625C2.15625 20.1312 2.21875 20.4063 2.34375 20.6063C2.48125 20.8063 2.71875 20.9563 3.05625 21.0562C3.40625 21.1562 3.90625 21.2063 4.55625 21.2063C5.46875 21.2063 6.1125 21.0938 6.4875 20.8688C6.8625 20.6438 7.05 20.3188 7.05 19.8938C7.05 19.5188 6.90625 19.225 6.61875 19.0125C6.33125 18.8125 5.9125 18.7125 5.3625 18.7125H3.8625C2.925 18.7125 2.21875 18.5312 1.74375 18.1688C1.26875 17.8063 1.03125 17.35 1.03125 16.8C1.03125 16.45 1.13125 16.1125 1.33125 15.7875C1.54375 15.4625 1.83125 15.1875 2.19375 14.9625C1.59375 14.65 1.15 14.2688 0.8625 13.8188C0.5875 13.3563 0.45 12.8063 0.45 12.1688C0.45 11.4563 0.625 10.8313 0.975 10.2938C1.325 9.75625 1.80625 9.34375 2.41875 9.05625C3.04375 8.75625 3.75625 8.60625 4.55625 8.60625C5.60625 8.63125 6.45 8.55625 7.0875 8.38125C7.7375 8.19375 8.4375 7.9 9.1875 7.5L9.7875 9.4125ZM4.59375 10.2375C4.05625 10.2375 3.63125 10.4125 3.31875 10.7625C3.01875 11.1 2.86875 11.5563 2.86875 12.1313C2.86875 12.7313 3.025 13.2062 3.3375 13.5563C3.65 13.9062 4.08125 14.0813 4.63125 14.0813C5.20625 14.0813 5.64375 13.9125 5.94375 13.575C6.24375 13.225 6.39375 12.7375 6.39375 12.1125C6.39375 10.8625 5.79375 10.2375 4.59375 10.2375Z" fill="white"/>
              <path d="M14.9354 8.60625C16.3979 8.60625 17.5354 9.075 18.3479 10.0125C19.1729 10.9375 19.5854 12.2125 19.5854 13.8375C19.5854 14.875 19.3979 15.7937 19.0229 16.5938C18.6479 17.3813 18.1104 17.9938 17.4104 18.4313C16.7104 18.8688 15.8792 19.0875 14.9167 19.0875C13.4542 19.0875 12.3104 18.625 11.4854 17.7C10.6604 16.7625 10.2479 15.475 10.2479 13.8375C10.2479 12.8 10.4354 11.8875 10.8104 11.1C11.1854 10.3125 11.7229 9.7 12.4229 9.2625C13.1354 8.825 13.9729 8.60625 14.9354 8.60625ZM14.9354 10.425C13.4979 10.425 12.7792 11.5625 12.7792 13.8375C12.7792 15.0125 12.9542 15.8813 13.3042 16.4438C13.6667 16.9938 14.2042 17.2687 14.9167 17.2687C15.6292 17.2687 16.1604 16.9875 16.5104 16.425C16.8729 15.8625 17.0541 15 17.0541 13.8375C17.0541 12.675 16.8729 11.8188 16.5104 11.2688C16.1604 10.7063 15.6354 10.425 14.9354 10.425Z" fill="white"/>
              <path d="M27.1226 8.60625C28.0101 8.60625 28.6976 8.875 29.1851 9.4125C29.6851 9.9375 29.9351 10.675 29.9351 11.625V18.8063H27.5351V12C27.5351 11.4125 27.4289 11 27.2164 10.7625C27.0164 10.525 26.7164 10.4063 26.3164 10.4063C25.9039 10.4063 25.5289 10.5375 25.1914 10.8C24.8664 11.05 24.5476 11.4188 24.2351 11.9062V18.8063H21.8351V8.8875H23.9164L24.1039 10.1813C24.9164 9.13125 25.9226 8.60625 27.1226 8.60625Z" fill="white"/>
            </svg>
            <br>
            Gon
          </div>
          <div class="columns calculator-button small-3 bg-lightgray text-blue result-button">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.375 13.125H5.625V11.25H24.375V13.125Z" fill="#00549F"/>
              <path d="M24.375 18.75H5.625V16.875H24.375V18.75Z" fill="#00549F"/>
            </svg>
            <br>
            Gleich
          </div>
        </div>
      </div>
    </div>

</div>
