<article>
  <ul>
    <li>Zum öffnen und schließen des Autorentool-Menüs die rechte Maustaste verwenden.</li>
    <li>Zum bearbeiten eines Knotens kann das Bearbeitungsmenü durch einen klick mit der rechten Maustaste auf den Knoten geöffnet werden.</li>
    <li>Zum verbinden von zwei Knoten mit der Linken Maustaste auf einen der Ein-/Ausgänge klicken und bei gedrückter Taste die Verbindung zu einem anderen Ein-/Ausgang ziehen.</li>
    <li>Zum löschen einer Verbindung zwischen zwei Knoten mit der rechten Maustaste auf die Verbindung klicken.</li>
  </ul>
</article>
