<form id = "save-storybook-form">
    <div class="grid-x child-padding">
        <span class="column small-12">
            <label>
                <input type="text" name="name" required>
                <span class="translation">name</span>
            </label>
        </span>
        <span class="column small-12">
            <label>
                <span class="translation">Course</span>
                <select class="form-control" name="course" required id='article-course'>
                </select>
            </label>
        </span>
        <span class="column small-12 grid-x">
             <input type="hidden" class="hidden-value" name = "image-changed" value="0">
            <label class="small-8">
                <span class="image-heading"></span>
                <input type="file" accept="image/*" class="image-element" name="image">
            </label>
            <img class="small-4 preview-image image-preview">
        </span>
        <span class="column small-12">
            <label>
                <textarea class="text" name="description"></textarea>
                <span class="text-heading translation">Short description</span>
            </label>
        </span>
        <span class="column small-12">
            <label>
                <span class="translation">Stufe</span>
                <select class="form-control" name="stage" required>
                    <option class="translation" value="1">Stufe 1</option>
                    <option class="translation" value="2">Stufe 2</option>
                    <option class="translation" value="3">Stufe 3</option>
                    <option class="translation" value="4">weitere</option>
                </select>
            </label>
        </span>
    </div>
    <button class="translation button">save</button>
</form>
