<br/>
<br/>
<br/>
<br/>
<form id="filter-form">
    <label class="grid-x">
        <span class="small-6">Online</span>
        <span class="small-6"><input type="checkbox" value="1" name="online"></span>
    </label>
    <div class="grid-x">
        <span class="small-6">From</span>
        <span class="small-6"><input type="text" name="start" autocomplete="off"></span>
    </div>
    <div class="grid-x">
        <span class="small-6">Until</span>
        <span class="small-6"><input type="text" name="end" autocomplete="off"></span>
    </div>
    <label class="grid-x" id="user-selection">
        <span class="small-6">User</span>
        <span class="small-5"><input type="text" readonly id="username" name="username"></span>
        <button class="small-1 button" id="remove-user-button">X</button>
        <input type="hidden" id="user-id" name="userId">
    </label>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>