<article>
  <ul>
    <li>
      Entscheidungstemplate: Das klassische Gamebook-Template, welches das Hinzufügen beliebig vieler Entscheidungsmöglichkeiten ermöglicht. Für jede Entscheidungsmöglichkeit kann ein individueller Pfad verfolgt werden, sodass gezieltes Feedback zu jeder einzelnen Entscheidung gegeben werden kann. Neben der klassischen Button-Darstellung kann auch die Darstellung in Form eines Sliders gewählt werden.
    </li>
    <li>
      Multiple Choice: Dieses Template ermöglicht die Erstellung von Single-Choice-und Multiple-Choice-Aufgaben mit beliebig vielen Antworten. Es gibt einen Pfad für die richtige und einen für die falsche Antwort.
    </li>
    <li>
      Ausklappbare Texte: Mit diesem Template können viele Informationen übersichtlich bereitgestellt werden. Es wird für jeden Textblock eine Überschrift angezeigt und der weiterführende Text kann nach Belieben ausgeklappt werden.
    </li>
    <li>
      Lückentext: Dieses Template ermöglicht die Erstellung von Lückentext-Aufgaben. Hierbei können beliebig viele Lücken angegeben werden. Zudem kann jeweils vor und nach einer Lücke ein Text angegeben werden. Die Lücken sind über die Tastatureingabe zu füllen. Daher eignet sich dieses Template insbesondere für kurze Eingaben oder Zahlen. Es gibt einen Pfad für richtig und einen für falsch.
    </li>
    <li>
      Drag-and-Drop: Dieses Template kann als Alternative zum Lückentext-Template genutzt werden, wenn die einzusetzenden Lücken vorgegeben sind. Hier können beliebig viele Elemente erstellt werden, welche per Drag-and-Drop in vorgegebene Felder eingesetzt werden können. Es können dabei beliebig viele Lücken und festgelegte Texte eingegeben werden. Zudem können alternative Lösungen angelegt werden. Es gibt Pfade für die richtige Lösung, die alternative Lösung sowie eine falsche Lösung.
    </li>
    <li>
      Formeln: Mit dem Formel-Template können Formeln für Berechnungsaufgaben bereitgestellt werden, in welche die passenden Werte eingesetzt werden können.
    </li>
    <li>
      Inhaltsseite: Dieses Template hat keinen templatespezifischen Teil und dient lediglich zur Darstellung von Informationen.
    </li>
    <li>
      Arbeitsplan: Der Arbeitsplan kann wie die anderen Templates in den Graphen eingebunden werden. Wenn der Arbeitsplan bei der Bearbeitung des Gamebooks erfolgreich erstellt wurde, dann kann er anschließend unter Planungshilfen gefunden werden.
    </li>
  <ul>
</article>
