<article class="unit-calculator">
    <select id="type-select"></select>
    <div class="flex-container">
        <div class="grow unit-container">
            <input type=number id="unit-1-input">
            <select id="unit-1-select"></select>
        </div>
        <div class = 'equal-sign'>=</div>
        <div class="grow unit-container">
            <input type=number id="unit-2-input">
            <select id="unit-2-select"></select>
        </div>
    </div>
    <div id = "formula-container"></div>
</article>
