.calculator{
  height: 100%;
  width: 100%;


  .answer{
    height: auto;//50px;
    font-size: 1.5rem;
  }
  .calculator-button{
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin: 1px;
    padding-top: 8px;
  }

  .bg-blue{
    background: #00549F;
    color: #FFFFFF;
  }

  .bg-gray{
    background: #646567;
    color: #FFFFFF;
  }

  .bg-orange{
    background: #F6A800;
    color: #000000;
  }

  .bg-lightgray{
    background: #CFD1D2;
    color: #000000;
  }

  .text-blue{
    color: #00549F;
  }

  .text-big{
    font-size: 18px;
  }

}

.content-container{
  height: 100%;
  width: 100%;
}

.equation{
  //font-size: 36px;
  text-align: right;
}

.answer{
  //font-size: 72px;
  text-align: right;
}
