.element-img {
  margin-bottom: 0.5rem;

  img {
    width: 100%;
  }

  .description {
    margin-left: 1rem;
  }
}

.image-description {
  font-style: italic;
  font-size: 0.8em;
}

.calculation-fragment {
  label {
    input, select {
      &:disabled, &:focus:disabled {
        border-bottom: none;
        background: initial;
        text-align: center;

        &select {
          min-width: 43px;
        }
      }
    }
  }

  .number-unit-input, .multiplier-element, .addition-element {
    label {
      input, select {
        //display: inline;
        //max-width: px;
        padding-right: 0;
        margin: 0;
      }
    }

    input.number {
      width: 100%;
      min-width: 0;
      max-width: 100%;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';

      background-position: right;
      border: 0;

      padding-right: 0.1rem;
      padding-left: 0;
      min-width: 50px;
      width: 30%;
      max-width: 80px;

      @include breakpoint(medium) {
        padding-left: 0.3rem;
        padding-right: 0.5rem;
      }
    }

    input {
      @include breakpoint(small down) {
        padding-left: 0.25rem;
      }
    }

    .multiplies, .equals, .added {
      font-size: 1.5em;
      text-align: center;
      width: 100%;
      display: inline-block;
    }

    .added {
      text-align: right;
      padding-right: 0.2em;
      line-height: 1.3;
    }
  }
}

.multiplier-element {
  .stone-type {
    font-size: 0.9rem;
  }
}

.addition-element {
  .name {
    font-size: 0.75rem;
  }
}

.video.tab-fragment {
  width: 100%;

  .tab-content {
    width: 100%;
    .tab-site {
      max-height: 100%;
      max-width: 100%;

      &.active {
        width: 100%;
      }

      .video-js {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}