
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  #div1, #div2, #div3, #div4, #div5, #div0{
    position: absolute;
    width: 360px;
    height: 640px;
    top: 0px;
    left: calc(49% - 170px);
  }

  #close{
    position: absolute;
    right: 24px;
  }

  #closeText{
    position: absolute;
    right: 0px;
    top: 15px;

    /* MBB - 10 Regular */

    //font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
  }

  #text{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 58.64%;
    bottom: 35.61%;

    /* MBB - 16 Semi */

    //font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
  }

  #text2{
    position: absolute;
    left: 5.45%;
    right: 2.6%;
    top: 52.58%;
    bottom: 27.27%;

    /* MBB - 16 Semi */

    //font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
  }

  #text3{
    position: absolute;
    left: 5.45%;
    right: 2.6%;
    top: 45.91%;
    bottom: 25.15%;

    /* MBB - 16 Semi */

    //font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
  }

  #endButton{
    position: absolute;
    left: 20%;
    right: 30%;
    top: 80.94%;
    bottom: 16.49%;
  }

  #changeIntroPage{
    position: absolute;
    left: 22%;
    right: 20%;
    top: 80.94%;
    bottom: 16.49%;

    /* MBB - 14 Regular */

    //font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
  }

  #nextButton{
    position: absolute;
    top: 80.94%;
    bottom: 16.49%;
    margin-left: 10px;
  }

  #introLogo{
    position: absolute;
    width: 133px;
    height: 59px;
    left: 114px;
    top: 20px;
  }

  #c0{
    position: absolute;
    left: 126px;
    top: 588px;
  }

  #c1{
    position: absolute;
    left: 150px;
    top: 588px;
  }

  #c2{
    position: absolute;
    left: 174px;
    top: 588px;
  }

  #c3{
    position: absolute;
    left: 198px;
    top: 588px;
  }

  #c4{
    position: absolute;
    left: 222px;
    top: 588px;
  }



  /* I1Vector */

  #I1Vector0{
    position: absolute;
    left: 38.61%;
    right: 36.11%;
    top: 18.48%;
    bottom: 70.61%;
  }

  /* I1Vector */

  #I1Vector1{
    position: absolute;
    left: 39.44%;
    right: 35%;
    top: 17.88%;
    bottom: 71.21%;
  }

  /* I1Vector */

  #I1Vector2{
    position: absolute;
    left: 45.56%;
    right: 53.33%;
    top: 26.52%;
    bottom: 70%;
  }

  /* I1Vector */

  #I1Vector3{
    position: absolute;
    left: 45.28%;
    right: 51.39%;
    top: 29.55%;
    bottom: 68.33%;
  }

  /* I1Vector */

  #I1Vector4{
    position: absolute;
    left: 54.17%;
    right: 43.61%;
    top: 26.82%;
    bottom: 69.85%;
  }

  /* I1Vector */

  #I1Vector5{
    position: absolute;
    left: 50.28%;
    right: 45.83%;
    top: 38.79%;
    bottom: 60.3%;
  }

  /* I1Vector */

  #I1Vector6{
    position: absolute;
    left: 53.06%;
    right: 44.17%;
    top: 38.48%;
    bottom: 59.09%;
  }

  /* I1Vector */

  #I1Vector7{
    position: absolute;
    left: 50.28%;
    right: 47.5%;
    top: 42.88%;
    bottom: 55.15%;
  }

  /* I1Vector */

  #I1Vector8{
    position: absolute;
    left: 48.89%;
    right: 46.67%;
    top: 44.09%;
    bottom: 53.94%;
  }

  /* I1Vector */

  #I1Vector9{
  position: absolute;
    left: 47.78%;
    right: 48.33%;
    top: 36.52%;
    bottom: 56.52%;
  }

  /* I1Vector */

  #I1Vector10{
    position: absolute;
    left: 47.78%;
    right: 48.33%;
    top: 36.52%;
    bottom: 56.52%;
    opacity: 0.1;
  }

  /* I1Vector */

  #I1Vector11{
    position: absolute;
    left: 46.39%;
    right: 46.39%;
    top: 28.64%;
    bottom: 68.33%;
  }

  /* I1Vector */

  #I1Vector12{
    position: absolute;
    left: 44.72%;
    right: 47.78%;
    top: 34.09%;
    bottom: 60.15%;
  }

  /* I1Vector */

  #I1Vector13{
    position: absolute;
    left: 48.33%;
    right: 48.89%;
    top: 30.3%;
    bottom: 68.48%;
  }

  /* I1Vector */

  #I1Vector14{
    position: absolute;
    left: 48.33%;
    right: 48.89%;
    top: 30.3%;
    bottom: 68.48%;
    opacity: 0.1;
  }

  /* I1Vector */

  #I1Vector15{
    position: absolute;
    left: 45.83%;
    right: 47.5%;
    top: 31.06%;
    bottom: 64.55%;
  }

  /* I1Vector */

  #I1Vector16{
    position: absolute;
    left: 51.94%;
    right: 44.72%;
    top: 29.85%;
    bottom: 68.03%;
  }

  /* I1Vector */

  #I1Vector17{
    position: absolute;
    left: 48.61%;
    right: 48.06%;
    top: 29.24%;
    bottom: 68.94%;
  }

  /* I1Vector */

  #I1Vector18{
    position: absolute;
    left: 48.61%;
    right: 48.33%;
    top: 29.09%;
    bottom: 70%;
  }

  /* I1Vector */

  #I1Vector19{
    position: absolute;
    left: 48.89%;
    right: 44.44%;
    top: 21.52%;
    bottom: 74.85%;
  }


  /* I1Vector */

  #I1Vector20{
    position: absolute;
    left: 51.11%;
    right: 48.33%;
    top: 22.42%;
    bottom: 77.12%;
  }


  /* I1Vector */

  #I1Vector21{
    position: absolute;
    left: 52.78%;
    right: 46.67%;
    top: 22.42%;
    bottom: 77.12%;
  }


  /* I1Vector */

  #I1Vector22{
    position: absolute;
    left: 50.28%;
    right: 45.83%;
    top: 23.18%;
    bottom: 75.76%;
  }


  /* I1Vector */

  #I1Vector23{
    position: absolute;
    left: 50.56%;
    right: 46.11%;
    top: 23.48%;
    bottom: 76.21%;
  }


  /* I1Vector */

  #I1Vector24{
    position: absolute;
    left: 17.22%;
    right: 16.94%;
    top: 45.91%;
    bottom: 53.94%;
  }

  #I2Vector0{
    position: absolute;
    width: 360px;
    height: 640px;
    left: 0px;
    top: 0px;
  }

  #I2Vector1{
    position: absolute;
    left: 56.39%;
    right: 40.83%;
    top: 24.55%;
    bottom: 73.33%;
  }

  #I2Vector2{
    position: absolute;
    left: 56.11%;
    right: 40.56%;
    top: 24.24%;
    bottom: 75.15%;
  }

  #I2Vector3{
    position: absolute;
    left: 37.22%;
    right: 55.83%;
    top: 22.58%;
    bottom: 75.61%;
  }

  #I2Vector4{
    position: absolute;
    left: 33.89%;
    right: 64.44%;
    top: 41.52%;
    bottom: 55.3%;
  }

  #I2Vector5{
    position: absolute;
    left: 31.11%;
    right: 63.89%;
    top: 44.39%;
    bottom: 54.55%;
  }

  #I2Vector6{
    position: absolute;
    left: 44.17%;
    right: 54.17%;
    top: 41.52%;
    bottom: 55.3%;
  }

  #I2Vector7{
    position: absolute;
    left: 43.89%;
    right: 51.39%;
    top: 44.39%;
    bottom: 54.55%;
  }

  #I2Vector8{
    position: absolute;
    left: 33.33%;
    right: 53.06%;
    top: 32.58%;
    bottom: 55.76%;
  }

  #I2Vector9{
    position: absolute;
    left: 37.22%;
    right: 56.67%;
    top: 18.94%;
    bottom: 77.73%;
  }

  #I2Vector10{
    position: absolute;
    left: 34.72%;
    right: 54.44%;
    top: 22.73%;
    bottom: 66.06%;
  }

  #I2Vector11{
    position: absolute;
    left: 36.67%;
    right: 56.39%;
    top: 18.03%;
    bottom: 78.33%;
  }

  #I2Vector12{
    position: absolute;
    left: 31.94%;
    right: 60.28%;
    top: 23.03%;
    bottom: 66.52%;
  }

  #I2Vector13{
    position: absolute;
    left: 40.83%;
    right: 51.11%;
    top: 23.03%;
    bottom: 66.52%;
  }

  #I2Vector14{
    position: absolute;
    left: 41.67%;
    right: 51.94%;
    top: 29.39%;
    bottom: 69.09%;
  }

  #I2Vector15{
    position: absolute;
    left: 41.67%;
    right: 51.39%;
    top: 30.45%;
    bottom: 67.88%;
  }

  #I2Vector16{
    position: absolute;
    left: 32.78%;
    right: 61.11%;
    top: 29.39%;
    bottom: 68.94%;
  }

  #I2Vector17{
    position: absolute;
    left: 32.22%;
    right: 61.11%;
    top: 30.45%;
    bottom: 67.73%;
  }

  #I2Vector18{
    position: absolute;
    left: 30.83%;
    right: 63.61%;
    top: 26.06%;
    bottom: 67.58%;
  }

  #I2Vector19{
    position: absolute;
    left: 33.33%;
    right: 62.78%;
    top: 23.79%;
    bottom: 72.88%;
  }

  #I2Vector20{
    position: absolute;
    left: 36.11%;
    right: 54.72%;
    top: 17.58%;
    bottom: 79.55%;
  }

  #I2Vector21{
    position: absolute;
    left: 38.33%;
    right: 58.61%;
    top: 28.79%;
    bottom: 69.09%;
  }

  #I2Vector22{
    position: absolute;
    left: 38.06%;
    right: 58.61%;
    top: 28.48%;
    bottom: 70.91%;
  }

  #I2Vector23{
    position: absolute;
    left: 38.33%;
    right: 52.5%;
    top: 26.52%;
    bottom: 68.79%;
  }

  #I2Vector24{
    position: absolute;
    left: 43.61%;
    right: 52.78%;
    top: 23.94%;
    bottom: 72.73%;
  }

  #I2Vector25{
    position: absolute;
    left: 72.78%;
    right: 18.89%;
    top: 33.48%;
    bottom: 61.82%;
  }

  #I2Vector26{
    position: absolute;
    left: 73.06%;
    right: 19.17%;
    top: 33.64%;
    bottom: 61.97%;
  }

  #I2Vector27{
    position: absolute;
    left: 74.72%;
    right: 21.94%;
    top: 34.85%;
    bottom: 64.09%;
  }

  #I2Vector28{
    position: absolute;
    left: 75.56%;
    right: 21.11%;
    top: 35.76%;
    bottom: 63.18%;
  }

  #I2Vector29{
    position: absolute;
    left: 71.67%;
    right: 25%;
    top: 26.67%;
    bottom: 64.39%;
  }

  #I2Vector30{
    position: absolute;
    left: 71.94%;
    right: 24.17%;
    top: 26.06%;
    bottom: 70.76%;
  }

  #I2Vector31{
    position: absolute;
    left: 65.28%;
    right: 32.5%;
    top: 41.82%;
    bottom: 55%;
  }

  #I2Vector32{
    position: absolute;
    left: 63.06%;
    right: 32.22%;
    top: 44.7%;
    bottom: 54.24%;
  }

  #I2Vector33{
    position: absolute;
    left: 70.83%;
    right: 26.67%;
    top: 41.82%;
    bottom: 55%;
  }

  #I2Vector34{
    position: absolute;
    left: 68.89%;
    right: 26.39%;
    top: 44.7%;
    bottom: 54.24%;
  }

  #I2Vector35{
    position: absolute;
    left: 64.72%;
    right: 26.11%;
    top: 33.48%;
    bottom: 56.67%;
  }

  #I2Vector36{
    position: absolute;
    left: 65%;
    right: 25.28%;
    top: 24.85%;
    bottom: 65.3%;
  }

  #I2Vector37{
    position: absolute;
    left: 66.94%;
    right: 26.94%;
    top: 20.91%;
    bottom: 75.76%;
  }

  #I2Vector38{
    position: absolute;
    left: 66.39%;
    right: 26.39%;
    top: 20.15%;
    bottom: 75.91%;
  }

  #I2Vector39{
    position: absolute;
    left: 63.33%;
    right: 25.56%;
    top: 24.7%;
    bottom: 66.36%;
  }

  #I2Vector40{
    position: absolute;
    left: 56.39%;
    right: 33.06%;
    top: 25.3%;
    bottom: 70.76%;
  }

  #I2Vector41{
    position: absolute;
    left: 64.44%;
    right: 30%;
    top: 25.45%;
    bottom: 71.36%;
  }

  #I2Vector42{
    position: absolute;
    left: 64.17%;
    right: 26.11%;
    top: 30.76%;
    bottom: 68.48%;
  }

  #I2Vector43{
    position: absolute;
    left: 63.61%;
    right: 26.39%;
    top: 31.97%;
    bottom: 67.27%;
  }

  #I2Vector44{
    position: absolute;
    left: 65%;
    right: 26.11%;
    top: 19.39%;
    bottom: 77.73%;
  }

  #I2Vector45{
    position: absolute;
    left: 21.67%;
    right: 12.5%;
    top: 45.91%;
    bottom: 53.94%;
  }

  #I2Vector46{
    position: absolute;
    left: 13.89%;
    right: 78.06%;
    top: 35.61%;
    bottom: 58.03%;
  }

  #I2Vector47{
    position: absolute;
    left: 17.78%;
    right: 78.33%;
    top: 39.39%;
    bottom: 54.39%;
  }

  #I2Vector48{
    position: absolute;
    left: 9.44%;
    right: 80.83%;
    top: 41.97%;
    bottom: 55.3%;
  }

  #I2Vector49{
    position: absolute;
    left: 15%;
    right: 78.06%;
    top: 43.18%;
    bottom: 53.94%;
  }

  #innerdiv{
    position: absolute;
    width: 271px;
    height: 231px;
    left: 39px;
    top: 99px;
  }

  #I3Vector0{
    position: absolute;
    left: 0%;
    right: 83.94%;
    top: 8.94%;
    bottom: 72.37%;
  }

  #I3Vector1{
    position: absolute;
    left: 89.88%;
    right: 6.85%;
    top: 64.67%;
    bottom: 16.83%;
  }

  #I3Vector2{
    position: absolute;
    left: 90.98%;
    right: 5.06%;
    top: 73.08%;
    bottom: 16.83%;
  }

  #I3Vector3{
    position: absolute;
    left: 27.03%;
    right: 0%;
    top: 82.97%;
    bottom: 16.75%;
  }

  #I3Vector4{
    position: absolute;
    left: 73.74%;
    right: 6.5%;
    top: 78.04%;
    bottom: 8.35%;
  }

  #I3Vector5{
    position: absolute;
    left: 66.85%;
    right: 24.31%;
    top: 85.79%;
    bottom: 7.12%;
  }

  #I3Vector6{
    position: absolute;
    left: 74.45%;
    right: 19.81%;
    top: 50.28%;
    bottom: 43.05%;
  }

  #I3Vector7{
    position: absolute;
    left: 75.38%;
    right: 18.2%;
    top: 55.25%;
    bottom: 36.66%;
  }

  #I3Vector8{
    position: absolute;
    left: 66.55%;
    right: 21.66%;
    top: 68.1%;
    bottom: 8.46%;
  }

  #I3Vector9{
    position: absolute;
    left: 67.14%;
    right: 27.02%;
    top: 89.48%;
    bottom: 0%;
  }

  #I3Vector10{
    position: absolute;
    left: 73.07%;
    right: 8.32%;
    top: 72.52%;
    bottom: 14.85%;
  }

  #I3Vector11{
    position: absolute;
    left: 72.09%;
    right: 12.26%;
    top: 58.13%;
    bottom: 21.14%;
  }

  #I3Vector12{
    position: absolute;
    left: 79.85%;
    right: 16.34%;
    top: 82.88%;
    bottom: 11.34%;
  }

  #I3Vector13{
    position: absolute;
    left: 79.85%;
    right: 16.34%;
    top: 82.47%;
    bottom: 11.75%;
  }

  #I3Vector14{
    position: absolute;
    left: 81.89%;
    right: 11.2%;
    top: 59.47%;
    bottom: 15.78%;
  }

  #I3Vector15{
    position: absolute;
    left: 82.73%;
    right: 16.2%;
    top: 68.91%;
    bottom: 21.29%;
  }

  #I3Vector16{
    position: absolute;
    left: 74.26%;
    right: 18.95%;
    top: 48.17%;
    bottom: 45.21%;
  }

  #I3Vector17{
    position: absolute;
    left: 75.62%;
    right: 20.4%;
    top: 62.41%;
    bottom: 31.49%;
  }

  #I3Vector18{
    position: absolute;
    left: 75.85%;
    right: 20.62%;
    top: 61.65%;
    bottom: 37.59%;
  }

  #I3Vector19{
    position: absolute;
    left: 75.15%;
    right: 19.92%;
    top: 62.03%;
    bottom: 37.07%;
  }

  #I3Vector20{
    position: absolute;
    left: 76.67%;
    right: 21.62%;
    top: 64.33%;
    bottom: 33.68%;
  }

  #I3Vector21{
    position: absolute;
    left: 74.75%;
    right: 20.28%;
    top: 65.78%;
    bottom: 30.58%;
  }

  #I3Vector22{
    position: absolute;
    left: 65.29%;
    right: 24.4%;
    top: 58.96%;
    bottom: 30.9%;
  }

  #I3Vector23{
    position: absolute;
    left: 43.08%;
    right: 34.53%;
    top: 87.84%;
    bottom: 10.57%;
  }

  #I3Vector24{
    position: absolute;
    left: 43.08%;
    right: 34.53%;
    top: 71.27%;
    bottom: 11.34%;
  }

  #I3Vector25{
    position: absolute;
    left: 46.27%;
    right: 37.71%;
    top: 72%;
    bottom: 17.12%;
  }

  #I3Vector26{
    position: absolute;
    left: 45.73%;
    right: 37.2%;
    top: 84.23%;
    bottom: 13.46%;
  }

  #I3Vector27{
    position: absolute;
    left: 54.03%;
    right: 45.6%;
    top: 71.4%;
    bottom: 28.17%;
  }

  #I3Vector28{
    position: absolute;
    left: 52.24%;
    right: 43.7%;
    top: 86.93%;
    bottom: 11.92%;
  }

  #I3Vector29{
    position: absolute;
    left: 45.68%;
    right: 37.26%;
    top: 83.34%;
    bottom: 16.47%;
  }

  #I3Vector30{
    position: absolute;
    left: 38.43%;
    right: 57.38%;
    top: 59.34%;
    bottom: 16.95%;
  }

  #I3Vector31{
    position: absolute;
    left: 36.14%;
    right: 58.79%;
    top: 70.11%;
    bottom: 16.95%;
  }

  #I3Vector32{
    position: absolute;
    left: 42.22%;
    right: 54.49%;
    top: 20.46%;
    bottom: 77.24%;
  }

  #I3Vector33{
    position: absolute;
    left: 82.04%;
    right: 14.66%;
    top: 14.13%;
    bottom: 83.58%;
  }

  #I3Vector34{
    position: absolute;
    left: 74.43%;
    right: 22.27%;
    top: 30.46%;
    bottom: 67.25%;
  }

  #I3Vector35{
    position: absolute;
    left: 4.1%;
    right: 72.03%;
    top: 2.58%;
    bottom: 40.71%;
  }

  #I3Vector36{
    position: absolute;
    left: 18.2%;
    right: 74.2%;
    top: 22.28%;
    bottom: 23.51%;
  }

  #I3Vector37{
    position: absolute;
    left: 21.76%;
    right: 74.28%;
    top: 26.55%;
    bottom: 64.06%;
  }

  #I3Vector38{
    position: absolute;
    left: 14.83%;
    right: 76.89%;
    top: 37.05%;
    bottom: 58.91%;
  }

  #I3Vector39{
    position: absolute;
    left: 18.22%;
    right: 67.83%;
    top: 76.24%;
    bottom: 22.53%;
  }

  #I3Vector40{
    position: absolute;
    left: 50.22%;
    right: 43.44%;
    top: 75.33%;
    bottom: 23.84%;
  }

  #I3Vector41{
    position: absolute;
    left: 50.22%;
    right: 41.73%;
    top: 77.06%;
    bottom: 22.1%;
  }

  #I3Vector42{
    position: absolute;
    left: 50.22%;
    right: 41.73%;
    top: 78.8%;
    bottom: 20.37%;
  }

  #innerdiv2{
    position: absolute;
    width: 259px;
    height: 164px;
    left: 51px;
    top: 129px;
  }

  #innerdiv2{
    position: absolute;
    width: 259px;
    height: 164px;
    left: 51px;
    top: 129px;
  }

  #I4Vector0{
    position: absolute;
    left: 28.5%;
    right: 60.26%;
    top: 26.44%;
    bottom: 72.93%;
  }

  #I4Vector1{
    position: absolute;
    left: 28.5%;
    right: 65.5%;
    top: 22.27%;
    bottom: 76.5%;
  }

  #I4Vector2{
    position: absolute;
    left: 28.5%;
    right: 60.26%;
    top: 29.58%;
    bottom: 69.18%;
  }

  #I4Vector3{
    position: absolute;
    left: 8%;
    right: 1.81%;
    top: 91.24%;
    bottom: 0%;
  }

  #I4Vector4{
    position: absolute;
    left: 8%;
    right: 1.81%;
    top: 0%;
    bottom: 4.24%;
  }

  #I4Vector5{
    position: absolute;
    left: 20.84%;
    right: 14.64%;
    top: 3.98%;
    bottom: 36.07%;
  }

  #I4Vector6{
    position: absolute;
    left: 18.7%;
    right: 12.57%;
    top: 71.35%;
    bottom: 15.92%;
  }

  #I4Vector7{
    position: absolute;
    left: 52.1%;
    right: 46.4%;
    top: 0.66%;
    bottom: 96.95%;
  }

  #I4Vector8{
    position: absolute;
    left: 44.88%;
    right: 38.75%;
    top: 86.21%;
    bottom: 7.43%;
  }

  #I4Vector9{
    position: absolute;
    left: 18.46%;
    right: 12.81%;
    top: 66.45%;
    bottom: 32.49%;
  }

  #I4Vector10{
    position: absolute;
    left: 78.39%;
    right: 17.63%;
    top: 68.88%;
    bottom: 29.57%;
  }

  #I4Vector11{
    position: absolute;
    left: 72.92%;
    right: 23.09%;
    top: 68.88%;
    bottom: 29.57%;
  }

  #I4Vector12{
    position: absolute;
    left: 49.4%;
    right: 42.29%;
    top: 13.9%;
    bottom: 23.74%;
  }

  #I4Vector13{
    position: absolute;
    left: 47.32%;
    right: 43.12%;
    top: 20.16%;
    bottom: 64.62%;
  }

  #I4Vector14{
    position: absolute;
    left: 53.49%;
    right: 45.06%;
    top: 33.44%;
    bottom: 62.42%;
  }

  #I4Vector15{
    position: absolute;
    left: 50.63%;
    right: 47.92%;
    top: 34.26%;
    bottom: 61.6%;
  }

  #I4Vector16{
    position: absolute;
    left: 50.34%;
    right: 47.23%;
    top: 39.34%;
    bottom: 59.22%;
  }

  #I4Vector17{
    position: absolute;
    left: 53.14%;
    right: 44.43%;
    top: 38.53%;
    bottom: 60.03%;
  }

  #I4Vector18{
    position: absolute;
    left: 50.13%;
    right: 46.6%;
    top: 23.31%;
    bottom: 71.49%;
  }

  #I4Vector19{
    position: absolute;
    left: 50.55%;
    right: 48.36%;
    top: 24.11%;
    bottom: 74.15%;
  }

  #I4Vector20{
    position: absolute;
    left: 48.8%;
    right: 44.12%;
    top: 14.16%;
    bottom: 77.36%;
  }

  #I4Vector21{
    position: absolute;
    left: 45.19%;
    right: 53.3%;
    top: 26.7%;
    bottom: 65.75%;
  }

  #I4Vector22{
    position: absolute;
    left: 54.58%;
    right: 43.91%;
    top: 29.18%;
    bottom: 63.26%;
  }

  #I4Vector23{
    position: absolute;
    left: 51.26%;
    right: 46.57%;
    top: 29.87%;
    bottom: 67.18%;
  }

  #I4Vector24{
    position: absolute;
    left: 33.6%;
    right: 61.47%;
    top: 51.38%;
    bottom: 41.19%;
  }

  #I4Vector25{
    position: absolute;
    left: 25.04%;
    right: 65.09%;
    top: 51.51%;
    bottom: 19%;
  }

  #I4Vector26{
    position: absolute;
    left: 28.43%;
    right: 70.09%;
    top: 65.18%;
    bottom: 30.57%;
  }

  #I4Vector27{
    position: absolute;
    left: 31.4%;
    right: 67.11%;
    top: 65.18%;
    bottom: 30.57%;
  }

  #I4Vector28{
    position: absolute;
    left: 28.43%;
    right: 69.09%;
    top: 68.74%;
    bottom: 29.78%;
  }

  #I4Vector29{
    position: absolute;
    left: 31.4%;
    right: 66.12%;
    top: 68.64%;
    bottom: 29.88%;
  }

  #I4Vector30{
    position: absolute;
    left: 25.83%;
    right: 66.94%;
    top: 45.29%;
    bottom: 45.74%;
  }

  #I4Vector31{
    position: absolute;
    left: 22.59%;
    right: 75.86%;
    top: 54.88%;
    bottom: 37.37%;
  }

  #I4Vector32{
    position: absolute;
    left: 4.53%;
    right: 85.66%;
    top: 59.16%;
    bottom: 25.24%;
  }

  #I4Vector33{
    position: absolute;
    left: 7.2%;
    right: 91.31%;
    top: 73.08%;
    bottom: 22.67%;
  }

  #I4Vector34{
    position: absolute;
    left: 10.18%;
    right: 88.33%;
    top: 73.08%;
    bottom: 22.67%;
  }

  #I4Vector35{
    position: absolute;
    left: 7.2%;
    right: 90.32%;
    top: 76.63%;
    bottom: 21.88%;
  }

  #I4Vector36{
    position: absolute;
    left: 10.18%;
    right: 87.34%;
    top: 76.54%;
    bottom: 21.98%;
  }

  #I4Vector37{
    position: absolute;
    left: 7.88%;
    right: 88.77%;
    top: 62.32%;
    bottom: 32.35%;
  }

  #I4Vector38{
    position: absolute;
    left: 9%;
    right: 89.88%;
    top: 64.1%;
    bottom: 34.13%;
  }

  #I4Vector39{
    position: absolute;
    left: 4.61%;
    right: 88.16%;
    top: 53.19%;
    bottom: 37.85%;
  }

  #I4Vector40{
    position: absolute;
    left: 10.7%;
    right: 84.37%;
    top: 36.87%;
    bottom: 55.7%;
  }

  #I4Vector41{
    position: absolute;
    left: 2.14%;
    right: 87.99%;
    top: 37%;
    bottom: 35.52%;
  }

  #I4Vector42{
    position: absolute;
    left: 5.53%;
    right: 92.98%;
    top: 50.67%;
    bottom: 45.08%;
  }

  #I4Vector43{
    position: absolute;
    left: 8.5%;
    right: 90.01%;
    top: 50.67%;
    bottom: 45.08%;
  }

  #I4Vector44{
    position: absolute;
    left: 5.53%;
    right: 91.99%;
    top: 54.22%;
    bottom: 44.29%;
  }

  #I4Vector45{
    position: absolute;
    left: 8.5%;
    right: 89.01%;
    top: 54.13%;
    bottom: 44.39%;
  }

  #I4Vector46{
    position: absolute;
    left: 6.21%;
    right: 90.44%;
    top: 39.91%;
    bottom: 54.76%;
  }

  #I4Vector47{
    position: absolute;
    left: 7.33%;
    right: 91.56%;
    top: 41.69%;
    bottom: 56.54%;
  }

  #I4Vector48{
    position: absolute;
    left: 2.93%;
    right: 89.84%;
    top: 30.78%;
    bottom: 60.26%;
  }

  #I4Vector49{
    position: absolute;
    left: -0.3%;
    right: 98.76%;
    top: 40.37%;
    bottom: 51.88%;
  }

  #I4Vector50{
    position: absolute;
    left: 5.35%;
    right: 89.39%;
    top: 46.42%;
    bottom: 50.37%;
  }

  #I4Vector51{
    position: absolute;
    left: 12.24%;
    right: 54.42%;
    top: 14.77%;
    bottom: 61.69%;
  }

  #I4Vector52{
    position: absolute;
    left: 18.08%;
    right: 75.29%;
    top: 21.27%;
    bottom: 68.18%;
  }

  #I4Vector53{
    position: absolute;
    left: 77.23%;
    right: 21.23%;
    top: 64.27%;
    bottom: 27.94%;
  }

  #I4Vector54{
    position: absolute;
    left: 76.71%;
    right: 13.49%;
    top: 68.55%;
    bottom: 15.86%;
  }

  #I4Vector55{
    position: absolute;
    left: 83.08%;
    right: 15.43%;
    top: 81.12%;
    bottom: 13.8%;
  }

  #I4Vector56{
    position: absolute;
    left: 79.83%;
    right: 18.68%;
    top: 81.13%;
    bottom: 13.79%;
  }

  #I4Vector57{
    position: absolute;
    left: 78.77%;
    right: 18.74%;
    top: 85.12%;
    bottom: 13.4%;
  }

  #I4Vector58{
    position: absolute;
    left: 80.53%;
    right: 16.12%;
    top: 70.35%;
    bottom: 24.31%;
  }

  #I4Vector59{
    position: absolute;
    left: 81.65%;
    right: 17.23%;
    top: 72.13%;
    bottom: 26.09%;
  }

  #I4Vector60{
    position: absolute;
    left: 85.44%;
    right: 9.64%;
    top: 71.97%;
    bottom: 25.59%;
  }

  #I4Vector61{
    position: absolute;
    left: 79.94%;
    right: 15.72%;
    top: 77.14%;
    bottom: 20.2%;
  }

  #I4Vector62{
    position: absolute;
    left: 68.56%;
    right: 0%;
    top: 25.49%;
    bottom: 31.44%;
  }

  #I4Vector63{
    position: absolute;
    left: 72.72%;
    right: 13.53%;
    top: 37.99%;
    bottom: 42.25%;
  }

  #I4Vector64{
    position: absolute;
    left: 81.79%;
    right: 13.53%;
    top: 51.4%;
    bottom: 42.25%;
  }

  #I4Vector65{
    position: absolute;
    left: 82.25%;
    right: 5.91%;
    top: 45.15%;
    bottom: 40.57%;
  }

  #I4Vector66{
    position: absolute;
    left: 84.58%;
    right: 11.32%;
    top: 37.34%;
    bottom: 56.14%;
  }

  #I4Vector67{
    position: absolute;
    left: 72.94%;
    right: 24.56%;
    top: 28.16%;
    bottom: 67.85%;
  }

  #I4Vector68{
    position: absolute;
    left: 79.93%;
    right: 12.84%;
    top: 61.22%;
    bottom: 29.81%;
  }

  #I4Vector69{
    position: absolute;
    left: 82.04%;
    right: 15.48%;
    top: 85.11%;
    bottom: 13.41%;
  }


  #innerdiv3{
    position: relative;
    width: 360px;
    height: 640px;
  }

  #I5Vector0{
    position: absolute;
    left: 19.44%;
    right: 15%;
    top: 40.45%;
    bottom: 59.39%;
  }

  #I5Vector1{
    position: absolute;
    left: 39.44%;
    right: 20.83%;
    top: 31.52%;
    bottom: 59.39%;
  }

  #I5Vector2{
    position: absolute;
    left: 48.89%;
    right: 37.78%;
    top: 27.27%;
    bottom: 68.18%;
  }

  #I5Vector3{
    position: absolute;
    left: 49.44%;
    right: 38.61%;
    top: 27.73%;
    bottom: 68.64%;
  }

  #I5Vector4{
    position: absolute;
    left: 54.17%;
    right: 43.61%;
    top: 30.15%;
    bottom: 68.64%;
  }

  #I5Vector5{
    position: absolute;
    left: 54.17%;
    right: 43.06%;
    top: 28.33%;
    bottom: 70.15%;
  }

  #I5Vector6{
    position: absolute;
    left: 53.89%;
    right: 42.5%;
    top: 27.88%;
    bottom: 70.76%;
  }

  #I5Vector7{
    position: absolute;
    left: 52.5%;
    right: 41.11%;
    top: 30%;
    bottom: 68.64%;
  }

  #I5Vector8{
    position: absolute;
    left: 48.33%;
    right: 37.22%;
    top: 31.21%;
    bottom: 68.18%;
  }

  #I5Vector9{
    position: absolute;
    left: 38.89%;
    right: 53.33%;
    top: 30.15%;
    bottom: 68.48%;
  }

  #I5Vector10{
    position: absolute;
    left: 38.61%;
    right: 53.33%;
    top: 30%;
    bottom: 68.48%;
  }

  #I5Vector11{
    position: absolute;
    left: 39.72%;
    right: 53.33%;
    top: 30.45%;
    bottom: 69.55%;
  }

  #I5Vector12{
    position: absolute;
    left: 39.72%;
    right: 53.33%;
    top: 30.61%;
    bottom: 69.39%;
  }

  #I5Vector13{
    position: absolute;
    left: 39.72%;
    right: 53.33%;
    top: 30.91%;
    bottom: 69.09%;
  }

  #I5Vector14{
    position: absolute;
    left: 39.72%;
    right: 53.33%;
    top: 31.21%;
    bottom: 68.79%;
  }

  #I5Vector15{
    position: absolute;
    left: 37.5%;
    right: 54.72%;
    top: 28.64%;
    bottom: 70%;
  }

  #I5Vector16{
    position: absolute;
    left: 37.5%;
    right: 54.44%;
    top: 28.48%;
    bottom: 70%;
  }

  #I5Vector17{
    position: absolute;
    left: 38.33%;
    right: 54.44%;
    top: 28.94%;
    bottom: 71.06%;
  }

  #I5Vector18{
    position: absolute;
    left: 38.33%;
    right: 54.44%;
    top: 29.09%;
    bottom: 70.76%;
  }

  #I5Vector19{
    position: absolute;
    left: 38.33%;
    right: 54.44%;
    top: 29.39%;
    bottom: 70.61%;
  }

  #I5Vector20{
    position: absolute;
    left: 38.33%;
    right: 54.44%;
    top: 29.7%;
    bottom: 70.3%;
  }

  #I5Vector21{
    position: absolute;
    left: 43.61%;
    right: 46.94%;
    top: 35.15%;
    bottom: 63.48%;
  }

  #I5Vector22{
    position: absolute;
    left: 43.61%;
    right: 46.94%;
    top: 36.97%;
    bottom: 61.36%;
  }

  #I5Vector23{
    position: absolute;
    left: 43.61%;
    right: 46.94%;
    top: 39.09%;
    bottom: 59.55%;
  }

  #I5Vector24{
    position: absolute;
    left: 48.06%;
    right: 51.39%;
    top: 35.76%;
    bottom: 63.94%;
  }

  #I5Vector25{
    position: absolute;
    left: 48.06%;
    right: 51.39%;
    top: 37.73%;
    bottom: 61.97%;
  }

  #I5Vector26{
    position: absolute;
    left: 48.06%;
    right: 51.39%;
    top: 39.85%;
    bottom: 59.85%;
  }

  #I5Vector27{
    position: absolute;
    left: 44.17%;
    right: 48.06%;
    top: 33.64%;
    bottom: 64.85%;
  }

  #I5Vector28{
    position: absolute;
    left: 43.89%;
    right: 47.78%;
    top: 33.64%;
    bottom: 64.85%;
  }

  #I5Vector29{
    position: absolute;
    left: 45%;
    right: 48.06%;
    top: 33.94%;
    bottom: 65.91%;
  }

  #I5Vector30{
    position: absolute;
    left: 45%;
    right: 48.06%;
    top: 34.24%;
    bottom: 65.76%;
  }

  #I5Vector31{
    position: absolute;
    left: 45%;
    right: 48.06%;
    top: 34.55%;
    bottom: 65.45%;
  }

  #I5Vector32{
    position: absolute;
    left: 45%;
    right: 48.06%;
    top: 34.85%;
    bottom: 65.15%;
  }

  #I5Vector33{
    position: absolute;
    left: 43.06%;
    right: 42.22%;
    top: 15%;
    bottom: 75.15%;
  }

  #I5Vector34{
    position: absolute;
    left: 51.11%;
    right: 45.28%;
    top: 17.12%;
    bottom: 80.61%;
  }

  #I5Vector35{
    position: absolute;
    left: 45.56%;
    right: 50.83%;
    top: 18.03%;
    bottom: 79.85%;
  }

  #I5Vector36{
    position: absolute;
    left: 50%;
    right: 46.39%;
    top: 20.61%;
    bottom: 77.12%;
  }

  #I5Vector37{
    position: absolute;
    left: 63.33%;
    right: 32.5%;
    top: 31.06%;
    bottom: 68.33%;
  }

  #I5Vector38{
    position: absolute;
    left: 66.67%;
    right: 32.5%;
    top: 31.06%;
    bottom: 68.33%;
  }

  #I5Vector39{
    position: absolute;
    left: 64.44%;
    right: 27.22%;
    top: 28.94%;
    bottom: 68.03%;
  }

  #I5Vector40{
    position: absolute;
    left: 66.39%;
    right: 22.78%;
    top: 35%;
    bottom: 63.64%;
  }

  #I5Vector41{
    position: absolute;
    left: 71%;
    right: 26.67%;
    top: 36%;
    bottom: 55.15%;
  }

  #I5Vector42{
    position: absolute;
    left: 67.5%;
    right: 24.17%;
    top: 40%;
    bottom: 59.24%;
  }

  #I5Vector43{
    position: absolute;
    left: 66.94%;
    right: 31.39%;
    top: 38.48%;
    bottom: 59.85%;
  }

  #I5Vector44{
    position: absolute;
    left: 65.28%;
    right: 31.11%;
    top: 40%;
    bottom: 59.24%;
  }

  #I5Vector45{
    position: absolute;
    left: 64.44%;
    right: 24.72%;
    top: 33.33%;
    bottom: 60.76%;
  }

  #I5Vector46{
    position: absolute;
    left: 67.5%;
    right: 30.83%;
    top: 38.48%;
    bottom: 59.85%;
  }

  #I5Vector47{
    position: absolute;
    left: 65.83%;
    right: 30.56%;
    top: 40%;
    bottom: 59.24%;
  }

  #I5Vector48{
    position: absolute;
    left: 65%;
    right: 24.17%;
    top: 33.48%;
    bottom: 60.61%;
  }

  #I5Vector49{
    position: absolute;
    left: 64.17%;
    right: 29.44%;
    top: 27.12%;
    bottom: 69.24%;
  }

  #I5Vector50{
    position: absolute;
    left: 64.44%;
    right: 29.72%;
    top: 27.27%;
    bottom: 69.39%;
  }

  #I5Vector51{
    position: absolute;
    left: 74.17%;
    right: 22.5%;
    top: 29.24%;
    bottom: 69.09%;
  }

  #I5Vector52{
    position: absolute;
    left: 70.56%;
    right: 23.61%;
    top: 29.24%;
    bottom: 65.76%;
  }

  #I5Vector53{
    position: absolute;
    left: 71.94%;
    right: 23.33%;
    top: 26.21%;
    bottom: 71.21%;
  }

  #I5Vector54{
    position: absolute;
    left: 65.56%;
    right: 31.94%;
    top: 28.18%;
    bottom: 71.06%;
  }

  #I5Vector55{
    position: absolute;
    left: 66.39%;
    right: 31.39%;
    top: 28.79%;
    bottom: 70.45%;
  }

  #I5Vector56{
    position: absolute;
    left: 64.44%;
    right: 27.22%;
    top: 28.94%;
    bottom: 68.03%;
  }

  #I5Vector57{
    position: absolute;
    left: 70.83%;
    right: 26.11%;
    top: 29.55%;
    bottom: 68.64%;
  }

  #I5Vector58{
    position: absolute;
    left: 71.11%;
    right: 18.06%;
    top: 25.76%;
    bottom: 67.88%;
  }

  #I5Vector59{
    position: absolute;
    left: 23.33%;
    right: 69.72%;
    top: 28.18%;
    bottom: 66.36%;
  }

  #I5Vector60{
    position: absolute;
    left: 26.67%;
    right: 70%;
    top: 31.36%;
    bottom: 63.33%;
  }

  #I5Vector61{
    position: absolute;
    left: 19.44%;
    right: 72.22%;
    top: 33.64%;
    bottom: 64.09%;
  }

  #I5Vector62{
    position: absolute;
    left: 24.17%;
    right: 69.72%;
    top: 34.7%;
    bottom: 62.88%;
  }

  #I5Vector63{
    position: absolute;
    left: 27.22%;
    right: 67.78%;
    top: 36.52%;
    bottom: 59.55%;
  }
