.definition-link{
  color: #00549F;
  font-weight: bold;
  cursor: pointer;
}

.definition{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;

  + .definition{
    border-top: 1px solid #808080;
  }

  .key {
    margin-bottom: 0;
  }

  .key-overview{
    color: black;
    margin-left: 24px;
  }

  .keywords{
    font-style: italic;
    font-size: 0.8em;
  }

  .description {
    white-space: pre-wrap;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .image-container{
    background: #ECEDED;
    .image{
      width: 100%;
    }
    .image-description{
      display: block;
      margin: 8px;
    }
  }


    .key-overview{
      float: left;
    }

    .lexicon-buttons{
      float: right;
      margin-right: 24px;
      margin-top: -12px;
    }


  .edit-button, .delete-button, .open-button{
    width: 1.5rem;
    //height: 1.5rem;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 0.3rem;
    display: inline-block;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .delete-button svg{
    fill: black;
  }

  .open-button{
    margin-left: 0.6rem;
    height: 24px;
  }
}
