.GBEditor{

height: 90%;

  .GBNode {
		opacity: 0.9;
		text {
			font-family: monospace, sans-serif;
			font-size: 16px;
			fill: white;
			pointer-events: none;
		}
		rect {
			fill: #00549F !important;
			stroke: black;
			stroke-width: 2px;
		}

		&:hover rect {
			stroke-width: 3px;
		}
		line {
			stroke: black;
			stroke-width: 2px;
		}
		circle {
			stroke: black;
			stroke-width: 1px;
      fill: black !important;
		}
		circle:hover {
			stroke-width: 2px;
		}
	}

	.GBMenubar {
		div {
			overflow: hidden;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			border-left: 4px solid lightblue;

			li {
				width: $menuwidth;
			}
			li a {
				line-break: strict;
				word-break: break-all;
				cursor: pointer;
				display: block;
				text-decoration: none;
				font-size: large;
				padding: 8px 16px;
				color: white;
				user-select: none;
			}

			li a:hover {
				background-color: #00549F !important;
			}

			.hidden {
				display: none;
			}
		}
	}

	.GBSidebar {
		position: absolute;
		height: 100%;
		width: 0;
		overflow-y: auto;
		overflow-x: hidden;
		transition: width 200ms ease-in-out;
		background-color: transparentize(#00549F, 0.2);
	}

	.right {
		right: 0;
	}
	.left {
		left: 0;
	}
	.open {
		width: $menuwidth;
	}

	.GBAttributeEditor {
		background-color: #ECEDED !important;
		width: 16em;
		padding: 10px 10px 10px 10px;
		border: 2px solid black;
		border-radius: 4px;
		margin: 4px auto;

		div {
			overflow: hidden;
			width: 100%;

			label {
				margin-right: 0.5em;
				vertical-align: top;
				display: inline-block;
				overflow: hidden;
				overflow-wrap: break-word;
			}

			input {
				&[type="text"],
				&[type="number"] {
					width: 78%;
				}

				&[type="text"]:invalid {
					background-color: #CD8B87;
					outline: none;
				}

				&[readonly="true"] {
					background-color:  #CFD1D2;
				}
				&[type="file"]{
					display: none;
				}
			}

			button {
				padding: 0.2rem 0.4rem;
				border: 2px outset #9C9E9F;
				border-radius: 4px;
				background: #CFD1D2;
			}

			textarea {
				width: 85%;
				resize: vertical;
			}
		}
	}

}

.GBPlayer {



  .GBControlBar {
    display: none;
  }

  label{
    display: flex !important;

  }

  label>[type='checkbox'], label>[type='radio'] {
    margin-right: .5rem;
    margin-top: .5rem;
  }

  .GBPageContainer {
    .textToSpeech.hasTextToSpeechButton img.ttsButton {
      display: initial;
    }



    $colorSliderSelected: #00549F;
    $colorSliderNotSelected: #c4c4c4;

    .storybook-slider {
      position: relative;
      height: 5px;
      //width: 100%;
      padding: 0;
      //margin: 0 16% 0 16%;
      //margin: 0 calc(2rem - 5px) 0 calc(2rem - 5px);

      input {
        position: absolute;
        top: 2px;
        width: 100%;
        //height: 2px;
        -webkit-appearance: none;
        //background-color: red;
        overflow: hidden;

        @mixin sliderThumb {
          width: 10px;
          height: 10px;
          margin: -5px 0 0;
          border-radius: 50%;
          background: #434343;
          cursor: pointer;
          border: 0 !important;
          -webkit-appearance: none;
          box-shadow: -100vw 0 0 100vw $colorSliderSelected;
        }
        @mixin sliderTrack {
          width: 100%;
          height: 2px;
          cursor: pointer;
          background: $colorSliderNotSelected;
          //-webkit-appearance: none;
        }

        &:focus {
          background: none;
          outline: none;
        }

        &::-webkit-slider-runnable-track {
          @include sliderTrack
        }

        &::-webkit-slider-thumb {
          @include sliderThumb
        }

        &::-ms-track {
          @include sliderTrack
        }

        &::-moz-range-thumb {
          @include sliderThumb
        }

        &::-moz-range-track {
          @include sliderTrack
        }

        &::-ms-thumb {
          @include sliderThumb
        }
      }
    }

    .storybook-slider-labels {
      margin: 18px 0 0 0;
      padding: 0;
      list-style: none;
      display: flex;

      li:first-child {
        flex: 1;
        //width: 4rem;
        text-align: left;

        &::before {
          margin-left: 0;
        }
      }

      li:last-child {
        flex: 1;
        //width: 4rem;
        text-align: right;

        &::before {
          margin-right: 0;
        }
      }

      li {
        flex: 2;
        position: relative;
        float: left;
        //width: 33%;
        text-align: center;
        color: $colorSliderNotSelected;
        font-size: 1rem;
        cursor: pointer;

        &::before {
          position: absolute;
          top: -25px;
          right: 0;
          left: 0;
          content: "";
          margin: 0 auto;
          width: 9px;
          height: 9px;
          background: $colorSliderNotSelected;
          border-radius: 50%;
        }

        &.active {
          color: $colorSliderSelected;
        }

        &.selected::before {
          background: $colorSliderSelected;
        }

        &.active.selected::before {
          top: -29px;
          width: 17px;
          height: 17px;
          background: white;
          border: 4px solid $colorSliderSelected;
        }
      }
    }

    .storybook-slider-value-output {
      width: 6rem;
      background-color: $colorSliderNotSelected;
      border-bottom: 1px solid $colorSliderSelected;
      height: fit-content;
      text-align: center;
      padding: 0.3rem;

      img {
        display: none;
      }
    }

    .spoiler {
      border-top: 1px solid #000000;

      padding: 0.3rem 1rem;

      .spoiler-text {
        display: none;
      }

      .spoiler-heading {
        font-size: 1.1em;
        margin-bottom: 0.8rem;

        &::after {
          content: " ";
          position: absolute;
          width: 1rem;
          height: 1rem;
          right: 1rem;
          border: solid black;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }

      &.open {
        margin-bottom: 1rem;

        .spoiler-text {
          display: initial;
          white-space: pre-wrap;
        }

        .spoiler-heading::after {
          transform: translate(0, 50%) rotate(225deg);
        }
      }
    }

    > div > div {
      input[type='button'], button {
        background-color: $primaryColor;
        border: 0;
        border-radius: 0;
        padding: 0.5rem 0.8rem;
        color: white !important;

        &:hover, &:active, &:focus {
          background-color: $primaryColor;
          border: 0;
          border-radius: 0;
          outline: none;
        }

        &[disabled] {
          background-color: #CFD1D2;
          color: #646567;
        }

        span.definition-link {
          color: white;
        }
      }



      input {
        &[type='text'], &[type='number'] {
          background-color: #EDEDED;

        }
      }


    }

    .plan-step {
      display: flex;
      padding: 0;
      padding-bottom: 1rem;

      .index-number {
        background: black;
        width: 2rem;
        height: 2rem;
        color: white;
        text-align: center;
        font-weight: bold;
        margin-right: 0.3rem;
      }

      .content-container {
        border-top: 1px solid black;
        flex: 1;
        padding: 0 0.5rem 0 0;

        .value-input-container {
          button {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin: 0;
            padding: 0;
          }

          input {
            height: 2rem;
            border: 0;
            outline: 0;
            background: #ECEDED;
            border-bottom: 1px solid #9C9E9F;
            width: 5rem;
            text-align: center;
          }
        }
      }

      .open-button {
        padding-left: 0.5rem;
        width: 20px;
        background: url("../img/vector.svg") no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-size: contain;
        height: 2rem;
        transform: rotate(180deg);
        border-bottom: 1px solid black;
      }

      &.closed {
        padding-bottom: 0;

        .content-container {
          border-top: 1px solid black;
          padding: 0;
          flex: 1;
          display: flex;

          select {
            border: 0;

            display: inline-block;
            flex: 1;
            padding-right: 0;
            font-weight: bold;
            outline: none;
            pointer-events: none;
          }

          .value-input-container {
            border: 0;

            button {
              display: none;
            }

            input {
              background: initial;
              color: #646567;
              pointer-events: none;
              border: 0;
              outline: none;
            }
          }
        }

        .open-button {
          transform: none;
          border-bottom: none;
          border-top: 1px solid black;
        }

      }
    }

    .result-container {
      display: flex;
      padding: 0;

      .result-clock {
        width: 2rem;
        height: 2rem;
        background: url("../img/clock.svg") no-repeat;
        background-size: contain;
        margin-right: 0.3rem;
        margin-left: 4px;
      }

      .result-name {
        flex: 1;
        font-weight: bold;
        border-top: 1px solid black;
        font-size: 1rem;
      }

      .result-time {

        border-top: 1px solid black;
        padding-right: 2rem;
        color: #646567;

      }
    }

  }
}

.drag-element, .drop-zone {
  border: 1px solid grey;
  border-radius: 5px;
  display: inline-block;
  margin: 0.2rem;

  &.drag-element {
    padding: 0.3rem;
  }

  &.drop-zone {
    &:not([data-child-index]) {
      width: 4rem;
      min-width: 4rem;
      height: 3rem;
    }
  }
}

.formel-container, .drag-element-container {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

.drag-element-container {
  min-height: 3.2rem;
  background: #e5e5e5;
  border-radius: 5px;
  padding: 0;
}

table.formula-table {
  text-align: center;

  input {
    background-color: #ededed;
    width: 100%;
  }
}

#myeditinfo{
  text-align: center;
  margin-bottom: 8px;
}
