.textToSpeech{
  .ttsButton{
    width: 0.9em;
    cursor: pointer;
    margin-right: 0.2em;
    //vertical-align: baseline;
  }

  &.speaking .tts-text{
    background-color: rgb(205, 205, 205);
  }
}

li.tts-speaking-rate-active{
  //text-decoration: underline;
  border: 1px solid;
  margin: 0.2rem;
  border-radius: 3px;
}