<section class="definition">
    <div class="">
        <h4 class="key"></h4>
        <span class = "keywords"></span>
        <div class = "description small-12"></div>
    </div>
    <div class = "hidden image-container">
        <img class = "image"/>
        <span class = "image-description"></span>
    </div>
</section>
