<div class = "flex-container flex-dir-column height-100">
<!--    <div class="width-100">-->
<!--        <img class="back-button" id = "back-button" src="../../img/back.svg">-->
<!--        <h3 id="article-name" class="inline textToSpeech "></h3>-->
<!--    </div>-->
    <div id='view-container' class="grow">
    </div>
</div>
