<footer id="footer">
    <menu id="tools-menu">
        <button id="open-tools-button" class="menu-button">
            <img src="../../img/tools.svg" alt="tools">
            <span class="translation">Tools</span>
        </button>
        <div class="visible-open menu-close-listener" id="tools-menu-close-listener">
        </div>
        <div class="visible-open open-button-container">
            <button id="calculator-button" class="menu-button secondary">
                <img src="../../img/calculator.svg" alt="calculator">
                <span class="translation">Taschen-rechner</span>
            </button><button id="unit-calculator-button" class="menu-button secondary">
                <img src="../../img/Einheitenrechner.svg" alt="unit-calculator">
                <span class="translation">Einheiten-rechner</span>
            </button><button id="glossary-button" class="menu-button secondary">
                <img src="../../img/glossary.svg" alt="glossary">
                <span class="translation">Glossar</span>
            </button><button id="close-tools-button" class="menu-button">
                <img src="../../img/close-tools.svg" alt="close">
                <span class="translation">Schließen</span>
            </button><button id="file-button" class="menu-button secondary">
                <img src="../../img/camera.svg" alt="file">
                <span class="translation">VideosAudios</span>
            </button><button id="formula-button" class="menu-button secondary">
                <img src="../../img/formelsammlung.svg" alt="file">
                <span class="translation">Formelsammlung</span>
            </button>
        </div>
    </menu><menu id="planungshilfe-menu" class="hidden">
        <button id="open-planungshilfe-button" class="menu-button">
            <img src="../../img/planungshilfe.svg" alt="tools">
            <span class="translation">Planungs-hilfen</span>
        </button>
        <div class="visible-open menu-close-listener" id="planungshilfe-menu-close-listener">
        </div>
        <div class="visible-open open-button-container">
            <button id="arbeitsplan-button" class="menu-button secondary">
                <img src="../../img/arbeitsplan.svg" alt="Arbeitsplan">
                <span class="translation">Arbeits-plan</span>
            </button><button id="objects-button" class="menu-button secondary">
                <img src="../../img/objects.svg" alt="2D-/3D-Objekte">
                <span class="translation">2D-/3D-Objekte</span>
            </button><button id="close-planungshilfe-button" class="menu-button">
                <img src="../../img/close-tools.svg" alt="close">
                <span class="translation">Schließen</span>
            </button>
        </div>
    </menu>
    <menu id="navigation-menu" class="right">
        <button id="skip-forward-button" class="menu-button secondary hidden">
            <img src="../../img/skip-forward.svg" alt="tools">
            <span class="translation">Schnellvorlauf</span>
        </button><button id="back-button" class="menu-button secondary">
            <img src="../../img/backButton.svg" alt="tools">
            <span class="translation">Zurück</span>
        </button><button id="forward-button" class="menu-button secondary hidden">
            <img src="../../img/forwardButton.svg" alt="tools">
            <span class="translation">Vorwärts</span>
        </button>
    </menu>
</footer>
