<article id="link-container" class="grid-x small-up-1">
    <section id="link-template" class="link-set-link cell">
        <img class="icon">
        <div class="name"></div>
    </section>
</article>
