.stage {
  @each $breakpoint, $value in $margins {
    @include breakpoint($breakpoint) {
      margin-left: -$value;
      margin-right: -$value;
      width: calc(100% + #{2*$value});
      max-width: calc(100% + #{2*$value});
    }
  }

  position: relative;

  h2 {
    @each $breakpoint, $value in $margins {
      @include breakpoint($breakpoint) {
        margin-left: $value;
        margin-right: $value;
        //width: calc(100% + #{2*$value});
        //max-width: calc(100% + #{2*$value});
      }
    }
  }

  .previous-exercise, .next-exercise {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1.5rem 1rem;
    background-color: #00549F;
    opacity: 0.8;
  }

  .previous-exercise {
    left: 0;
  }

  .next-exercise {
    right: 0;
  }

  .exercise-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .exercise-tile {
      width: 100%;
      padding: 2rem;
      scroll-snap-align: start;
      flex-shrink: 0;
      //border: 1px solid black;
      position: relative;

      .exercise-image-container {
        padding-top: 50%;
        position: relative;

        .exercise-image {
          position: absolute;
          border-radius: 1rem;
          object-fit: cover;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .name {
        font-weight: bold;
      }
    }
  }
}
