#footer {

  @each $breakpoint, $value in $margins {
    @include breakpoint($breakpoint) {
      margin-left: -$value;
      margin-right: -$value;
      width: calc(100% + #{2*$value});
      max-width: calc(100% + #{2*$value});
    }
  }

  menu {


    display: inline-block;
    cursor: pointer;
    //width: 4rem;
    height: 4rem;
    //background-color: #00549f;
    color: white;
    font-size: 0.625rem;
    position: relative;
    margin: 0;
    padding: 0;

    .menu-close-listener {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background-color: red;
    }

    &#planungshilfe-menu {
      &.hidden {
        display: none;
      }

      .open-button-container {
        width: 8rem;
      }
    }

    .open-button-container {
      position: absolute;
      width: 12rem;
      top: -4rem;
      left: 0;
    }

    .menu-button {
      outline: 0;
      width: 4rem;
      height: 4rem;
      color: white;
      background-color: #00549f;
      hyphens: auto;
      cursor: pointer;

      &.secondary {
        background-color: #646567;
      }
    }

    img {
      display: block;
      height: 24px;
      margin: auto;
    }

    .visible-open {
      display: none;
    }

    &.open {
      .visible-open {
        display: initial;
      }

      .visible-closed {
        display: none;
      }
    }
  }
}
