#link-container {
  .link-set-link {
    position: relative;

    img.icon{
      width: 100%;
    }
    .name {
      width: 100%;
      display: block;
      position: absolute;
      background: #00549f;
      bottom: 0;
      color: white;
      border-radius: 8px;
      font-weight: 600;
      line-height: 1;
      padding: 0.625rem;
    }

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    //padding-left: 0.5rem;
    //&:first-child{
    //  padding-left: 0;
    //}
  }
}
