$navbarHeight: 64px;

#navbar-fragment {
  .top-bar .grid-container {
    height: $navbarHeight;
    padding: 0;

    .grid-padding-x {
      margin-left: 0;
      margin-right: 0;

      .small-12.cell {
        padding: 0;

        .back-button {
          display: none;
        }

        .logo .logo-img {
          margin: 0;
          max-width: initial;
        }

        #responsive-menu-toggle {
          background: #646567;
          width: $navbarHeight;
          height: $navbarHeight;
          text-align: center;

          .menu-icon {
            display: block;
            margin-left: 37.5%;
            margin-top: 25%;
            width: 25%;
          }

          &::after {
            content: "Menu";
            font-size: 0.625rem;
          }
        }
      }
    }
  }

  .navbar-is-open .top-bar .grid-container .grid-padding-x .small-12.cell {
    #responsive-menu-toggle {
      background: #eceded;
      color: black;

      .menu-icon::after {
        background: url("../img/x.svg");
        height: 100%;
        box-shadow: none;
      }

      &::after {
        content: "Schließen";
      }
    }

    #navbar-menu-hidden {
      margin: 0;
      padding: 0 1rem;
      background: #eceded;
      width: 100%;
      height: calc(100vh - #{$navbarHeight});
      top: $navbarHeight;

      li {
        padding: 0.3rem 0;
        color: black;
        font-size: 1.5rem;
        line-height: 1.1;

        a::after {
          border-color: black transparent transparent !important;
        }

        .menu.submenu {
          background: #eceded;

          li {
            font-size: 1rem;
            padding: 0.3rem 0;
            a {
              padding: 0;
            }
            &.selected{
              color: #9c9e9f;
            }

          }
        }
      }
    }
  }
}
