<section>
    <div class="grid-x">
        <span class="small-6"></span>
        <span class="small-3 translation">number</span>
        <span class="small-3 translation">avg. time</span>
    </div>
    <div class="grid-x">
        <span class="small-6 translation">exercises in progress</span>
        <span class="small-3" id="number-exercises-in-progress"></span>
        <span class="small-3"></span>
    </div>
    <div class="grid-x">
        <span class="small-6 translation">exercises done</span>
        <span class="small-3" id="number-exercises-done"></span>
        <span class="small-3" id="average-time-exercises-done"></span>
    </div>
    <div class="grid-x">
        <span class="small-6 translation">exercises aborted</span>
        <span class="small-3" id="number-exercises-aborted"></span>
        <span class="small-3" id="average-time-exercises-aborted"></span>
    </div>
    <div class="grid-x">
        <span class="small-6 translation">exercises</span>
        <span class="small-3" id="number-exercises"></span>
        <span class="small-3" id="average-time-exercises"></span>
    </div>
    <br>
    <div class="grid-x">
        <span class="small-6 translation">number wrong answers</span>
        <span class="small-6" id="number-wrong-answers"></span>
    </div>
</section>