<section>
    <h3 class="translation">Wrong Answers per Exercise</h3>
    <div class="grid-x clickable">
        <canvas class="small-12" id="wrong-answer-exercise-diagram"></canvas>
    </div>
</section>